<div>
    <h2>StockFamilys</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="stockFamily.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new StockFamily</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a StockFamily</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="code"><span>Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isDiminishing"><span>IsDiminishing</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lowestMargin"><span>LowestMargin</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="highestMargin"><span>HighestMargin</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="comment"><span>Comment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="priceScale.id"><span>priceScale</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stockFamily in stockFamilys track by stockFamily.id">
                    <td><a ui-sref="stockFamily.detail({id:stockFamily.id})">{{stockFamily.id}}</a></td>
                    <td>{{stockFamily.code}}</td>
                    <td>{{stockFamily.name}}</td>
                    <td>{{stockFamily.isDiminishing}}</td>
                    <td>{{stockFamily.lowestMargin}}</td>
                    <td>{{stockFamily.highestMargin}}</td>
                    <td>{{stockFamily.comment}}</td>
                    <td>
                        <a ui-sref="priceScale.detail({id:stockFamily.priceScale.id})">{{stockFamily.priceScale.id}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="stockFamily.detail({id:stockFamily.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="stockFamily.edit({id:stockFamily.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="stockFamily.delete({id:stockFamily.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
