<div>
    <h2>PurchaseOrderLineItems</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="purchaseOrderLineItem.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new PurchaseOrderLineItem</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a PurchaseOrderLineItem</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Cost</th>
                    <th>ListPrice</th>
                    <th>QtyOrdered</th>
                    <th>QtyDelivered</th>
                    <th>QtyPreviouslyDelivered</th>
                    <th>QtyImported</th>
                    <th>TotalTaxCharge</th>
                    <th>DiscountPercentage</th>
                    <th>LineNo</th>
                    <th>ListPriceDiscount</th>
                    <th>UnitMeasure</th>
                    <th>IsHidden</th>
                    <th>Ref1</th>
                    <th>Ref2</th>
                    <th>purchaseOrder</th>
                    <th>product</th>
                    <th>taxRate</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="purchaseOrderLineItem in purchaseOrderLineItems track by purchaseOrderLineItem.id">
                    <td><a ui-sref="purchaseOrderLineItem.detail({id:purchaseOrderLineItem.id})">{{purchaseOrderLineItem.id}}</a></td>
                    <td>{{purchaseOrderLineItem.description}}</td>
                    <td>{{purchaseOrderLineItem.cost}}</td>
                    <td>{{purchaseOrderLineItem.listPrice}}</td>
                    <td>{{purchaseOrderLineItem.qtyOrdered}}</td>
                    <td>{{purchaseOrderLineItem.qtyDelivered}}</td>
                    <td>{{purchaseOrderLineItem.qtyPreviouslyDelivered}}</td>
                    <td>{{purchaseOrderLineItem.qtyImported}}</td>
                    <td>{{purchaseOrderLineItem.totalTaxCharge}}</td>
                    <td>{{purchaseOrderLineItem.discountPercentage}}</td>
                    <td>{{purchaseOrderLineItem.lineNo}}</td>
                    <td>{{purchaseOrderLineItem.listPriceDiscount}}</td>
                    <td>{{purchaseOrderLineItem.unitMeasure}}</td>
                    <td>{{purchaseOrderLineItem.isHidden}}</td>
                    <td>{{purchaseOrderLineItem.Ref1}}</td>
                    <td>{{purchaseOrderLineItem.Ref2}}</td>
                    <td>
                        <a ui-sref="purchaseOrder.detail({id:purchaseOrderLineItem.purchaseOrder.id})">{{purchaseOrderLineItem.purchaseOrder.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="product.detail({id:purchaseOrderLineItem.product.id})">{{purchaseOrderLineItem.product.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="taxTable.detail({id:purchaseOrderLineItem.taxRate.id})">{{purchaseOrderLineItem.taxRate.id}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="purchaseOrderLineItem.detail({id:purchaseOrderLineItem.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="purchaseOrderLineItem.edit({id:purchaseOrderLineItem.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="purchaseOrderLineItem.delete({id:purchaseOrderLineItem.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
