<div>
    <h2>Quotes</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="quote.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Quote</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Quote</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="quoteNo"><span>QuoteNo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span>Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="quoteDate"><span>QuoteDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="expiryDate"><span>ExpiryDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="followupDate"><span>FollowupDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reference"><span>Reference</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ourRef"><span>OurRef</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="freight"><span>Freight</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reasonForLoss"><span>ReasonForLoss</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isTaxable"><span>IsTaxable</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="taxExemptionCode"><span>TaxExemptionCode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isLocked"><span>IsLocked</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="adjustTax"><span>AdjustTax</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="adjustTaxExempt"><span>AdjustTaxExempt</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="comment"><span>Comment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="totalTaxAmount"><span>TotalTaxAmount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="totalSellPrice"><span>TotalSellPrice</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="totalCost"><span>TotalCost</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isSuspended"><span>IsSuspended</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="customerId"><span>customer</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contactId"><span>contact</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="deliveryContactId"><span>deliveryContact</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="storeId"><span>store</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="quoteByStaffId"><span>quoteByStaff</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdById"><span>createdBy</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="quote in quotes track by quote.id">
                    <td><a ui-sref="quote.detail({id:quote.id})">{{quote.id}}</a></td>
                    <td>{{quote.quoteNo}}</td>
                    <td translate="{{'bssuiteApp.QuoteStatus.' + quote.status}}">{{quote.status}}</td>
                    <td>{{quote.quoteDate | date:'medium'}}</td>
                        <td>{{quote.expiryDate | date:'mediumDate'}}</td>
                        <td>{{quote.followupDate | date:'mediumDate'}}</td>
                    <td>{{quote.reference}}</td>
                    <td>{{quote.ourRef}}</td>
                    <td>{{quote.freight}}</td>
                    <td>{{quote.reasonForLoss}}</td>
                    <td>{{quote.isTaxable}}</td>
                    <td>{{quote.taxExemptionCode}}</td>
                    <td>{{quote.isLocked}}</td>
                    <td>{{quote.adjustTax}}</td>
                    <td>{{quote.adjustTaxExempt}}</td>
                    <td>{{quote.comment}}</td>
                    <td>{{quote.totalTaxAmount}}</td>
                    <td>{{quote.totalSellPrice}}</td>
                    <td>{{quote.totalCost}}</td>
                    <td>{{quote.isSuspended}}</td>
                    <td>
                        <a ui-sref="customer.detail({id:quote.customerId})">{{quote.customerId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:quote.contactId})">{{quote.contactId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:quote.deliveryContactId})">{{quote.deliveryContactId}}</a>
                    </td>
                    <td>
                        <a ui-sref="store.detail({id:quote.storeId})">{{quote.storeId}}</a>
                    </td>
                    <td>
                        <a ui-sref="staff.detail({id:quote.quoteByStaffId})">{{quote.quoteByStaffId}}</a>
                    </td>
                    <td>
                        <a ui-sref="staff.detail({id:quote.createdById})">{{quote.createdById}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="quote.detail({id:quote.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="quote.edit({id:quote.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="quote.delete({id:quote.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
