<div>
    <h2>Quotes</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="quote.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Quote</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Quote</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>QuoteNo</th>
                    <th>Status</th>
                    <th>QuoteDate</th>
                    <th>ExpiryDate</th>
                    <th>FollowupDate</th>
                    <th>Reference</th>
                    <th>OurRef</th>
                    <th>Freight</th>
                    <th>ReasonForLoss</th>
                    <th>IsTaxable</th>
                    <th>TaxExemptionCode</th>
                    <th>IsLocked</th>
                    <th>AdjustTax</th>
                    <th>AdjustTaxExempt</th>
                    <th>Comment</th>
                    <th>TotalTaxAmount</th>
                    <th>TotalSellPrice</th>
                    <th>TotalCost</th>
                    <th>IsSuspended</th>
                    <th>customer</th>
                    <th>contact</th>
                    <th>deliveryContact</th>
                    <th>store</th>
                    <th>quoteByStaff</th>
                    <th>createdBy</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="quote in quotes track by quote.id">
                    <td><a ui-sref="quote.detail({id:quote.id})">{{quote.id}}</a></td>
                    <td>{{quote.quoteNo}}</td>
                    <td translate="{{'bssuiteApp.QuoteStatus.' + quote.status}}">{{quote.status}}</td>
                    <td>{{quote.quoteDate | date:'medium'}}</td>
                        <td>{{quote.expiryDate | date:'mediumDate'}}</td>
                        <td>{{quote.followupDate | date:'mediumDate'}}</td>
                    <td>{{quote.reference}}</td>
                    <td>{{quote.ourRef}}</td>
                    <td>{{quote.freight}}</td>
                    <td>{{quote.reasonForLoss}}</td>
                    <td>{{quote.isTaxable}}</td>
                    <td>{{quote.taxExemptionCode}}</td>
                    <td>{{quote.isLocked}}</td>
                    <td>{{quote.adjustTax}}</td>
                    <td>{{quote.adjustTaxExempt}}</td>
                    <td>{{quote.comment}}</td>
                    <td>{{quote.totalTaxAmount}}</td>
                    <td>{{quote.totalSellPrice}}</td>
                    <td>{{quote.totalCost}}</td>
                    <td>{{quote.isSuspended}}</td>
                    <td>
                        <a ui-sref="customer.detail({id:quote.customerId})">{{quote.customerId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:quote.contactId})">{{quote.contactId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:quote.deliveryContactId})">{{quote.deliveryContactId}}</a>
                    </td>
                    <td>
                        <a ui-sref="store.detail({id:quote.storeId})">{{quote.storeId}}</a>
                    </td>
                    <td>
                        <a ui-sref="staff.detail({id:quote.quoteByStaffId})">{{quote.quoteByStaffId}}</a>
                    </td>
                    <td>
                        <a ui-sref="staff.detail({id:quote.createdById})">{{quote.createdById}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="quote.detail({id:quote.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="quote.edit({id:quote.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="quote.delete({id:quote.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
