<div>
    <h2>Staffs</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="staff.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Staff</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Staff</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="code"><span>Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="comment"><span>Comment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="commission"><span>Commission</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="occupation"><span>Occupation</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="workPhone"><span>WorkPhone</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="homePhone"><span>HomePhone</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="workMobile"><span>WorkMobile</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="homeMobile"><span>HomeMobile</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="webEmail"><span>WebEmail</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="homeEmail"><span>HomeEmail</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="birthday"><span>Birthday</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isLockedToStore"><span>IsLockedToStore</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isTechnical"><span>IsTechnical</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="storeId"><span>store</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="staff in staffs track by staff.id">
                    <td><a ui-sref="staff.detail({id:staff.id})">{{staff.id}}</a></td>
                    <td>{{staff.code}}</td>
                    <td>{{staff.name}}</td>
                    <td>{{staff.comment}}</td>
                    <td>{{staff.commission}}</td>
                    <td>{{staff.occupation}}</td>
                    <td>{{staff.workPhone}}</td>
                    <td>{{staff.homePhone}}</td>
                    <td>{{staff.workMobile}}</td>
                    <td>{{staff.homeMobile}}</td>
                    <td>{{staff.webEmail}}</td>
                    <td>{{staff.homeEmail}}</td>
                        <td>{{staff.birthday | date:'mediumDate'}}</td>
                    <td>{{staff.isLockedToStore}}</td>
                    <td>{{staff.isTechnical}}</td>
                    <td>
                        <a ui-sref="store.detail({id:staff.storeId})">{{staff.storeId}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="staff.detail({id:staff.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="staff.edit({id:staff.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="staff.delete({id:staff.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
