<div>
    <h2>Bookmarks</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="bookmark.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Bookmark</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Bookmark</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdOn"><span>CreatedOn</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="txnNumber"><span>TxnNumber</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bookmarkType"><span>BookmarkType</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bookmarkArea"><span>BookmarkArea</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="keyCode"><span>KeyCode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span>Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastEditedOn"><span>LastEditedOn</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="openCount"><span>OpenCount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdById"><span>createdBy</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bookmark in bookmarks track by bookmark.id">
                    <td><a ui-sref="bookmark.detail({id:bookmark.id})">{{bookmark.id}}</a></td>
                    <td>{{bookmark.createdOn | date:'medium'}}</td>
                    <td>{{bookmark.txnNumber}}</td>
                    <td translate="{{'bssuiteApp.BookmarkType.' + bookmark.bookmarkType}}">{{bookmark.bookmarkType}}</td>
                    <td translate="{{'bssuiteApp.BookmarkArea.' + bookmark.bookmarkArea}}">{{bookmark.bookmarkArea}}</td>
                    <td>{{bookmark.keyCode}}</td>
                    <td>{{bookmark.title}}</td>
                    <td>{{bookmark.lastEditedOn | date:'medium'}}</td>
                    <td>{{bookmark.openCount}}</td>
                    <td>
                        <a ui-sref="staff.detail({id:bookmark.createdById})">{{bookmark.createdById}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="bookmark.detail({id:bookmark.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="bookmark.edit({id:bookmark.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="bookmark.delete({id:bookmark.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
