
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCalendarItemLabel">Create or edit a CalendarItem</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="calendarItem.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="calendarItem.title"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_startedOn">StartedOn</label>
            <input type="datetime-local" class="form-control" name="startedOn" id="field_startedOn"
                    ng-model="calendarItem.startedOn"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_endedOn">EndedOn</label>
            <input type="datetime-local" class="form-control" name="endedOn" id="field_endedOn"
                    ng-model="calendarItem.endedOn"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_isAllDayEvent">IsAllDayEvent</label>
            <input type="checkbox" class="form-control" name="isAllDayEvent" id="field_isAllDayEvent"
                    ng-model="calendarItem.isAllDayEvent"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_isRemainderEnabled">IsRemainderEnabled</label>
            <input type="checkbox" class="form-control" name="isRemainderEnabled" id="field_isRemainderEnabled"
                    ng-model="calendarItem.isRemainderEnabled"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_remainderTime">RemainderTime</label>
            <input type="datetime-local" class="form-control" name="remainderTime" id="field_remainderTime"
                    ng-model="calendarItem.remainderTime"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_webUrl">WebUrl</label>
            <input type="text" class="form-control" name="webUrl" id="field_webUrl"
                    ng-model="calendarItem.webUrl"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_isEditable">IsEditable</label>
            <input type="checkbox" class="form-control" name="isEditable" id="field_isEditable"
                    ng-model="calendarItem.isEditable"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_alarmType">AlarmType</label>
            <select class="form-control" name="alarmType" ng-model="calendarItem.alarmType" id="field_alarmType">
                <option value="SOUND">SOUND</option>
                <option value="EMAIL">EMAIL</option>
            </select>
        </div>

        <div class="form-group">
            <label for="field_createdBy">createdBy</label>
            <select class="form-control" id="field_createdBy" name="createdBy" ng-model="calendarItem.createdById" ng-options="staff.id as staff.id for staff in staffs">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
