<div>
    <h2>CalendarItems</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="calendarItem.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new CalendarItem</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a CalendarItem</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span>Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startedOn"><span>StartedOn</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endedOn"><span>EndedOn</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isAllDayEvent"><span>IsAllDayEvent</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isRemainderEnabled"><span>IsRemainderEnabled</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="remainderTime"><span>RemainderTime</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="webUrl"><span>WebUrl</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isEditable"><span>IsEditable</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="alarmType"><span>AlarmType</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdById"><span>createdBy</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="calendarItem in calendarItems track by calendarItem.id">
                    <td><a ui-sref="calendarItem.detail({id:calendarItem.id})">{{calendarItem.id}}</a></td>
                    <td>{{calendarItem.title}}</td>
                    <td>{{calendarItem.startedOn | date:'medium'}}</td>
                    <td>{{calendarItem.endedOn | date:'medium'}}</td>
                    <td>{{calendarItem.isAllDayEvent}}</td>
                    <td>{{calendarItem.isRemainderEnabled}}</td>
                    <td>{{calendarItem.remainderTime | date:'medium'}}</td>
                    <td>{{calendarItem.webUrl}}</td>
                    <td>{{calendarItem.isEditable}}</td>
                    <td translate="{{'bssuiteApp.AlarmType.' + calendarItem.alarmType}}">{{calendarItem.alarmType}}</td>
                    <td>
                        <a ui-sref="staff.detail({id:calendarItem.createdById})">{{calendarItem.createdById}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="calendarItem.detail({id:calendarItem.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="calendarItem.edit({id:calendarItem.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="calendarItem.delete({id:calendarItem.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
