
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCarrierLabel" translate="bssuiteApp.carrier.home.createOrEditLabel">Create or edit a Carrier</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="carrier.id" readonly />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.carrier.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="carrier.code"
                    required />
            <div ng-show="editForm.code.$invalid">
                <p class="help-block"
                    ng-show="editForm.code.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.carrier.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="carrier.name"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.carrier.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                    ng-model="carrier.phone"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.carrier.mobile" for="field_mobile">Mobile</label>
            <input type="text" class="form-control" name="mobile" id="field_mobile"
                    ng-model="carrier.mobile"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.carrier.accountNo" for="field_accountNo">AccountNo</label>
            <input type="text" class="form-control" name="accountNo" id="field_accountNo"
                    ng-model="carrier.accountNo"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.carrier.comment" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                    ng-model="carrier.comment"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.carrier.isAvailableOnMonday" for="field_isAvailableOnMonday">IsAvailableOnMonday</label>
            <input type="checkbox" class="form-control" name="isAvailableOnMonday" id="field_isAvailableOnMonday"
                    ng-model="carrier.isAvailableOnMonday"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.carrier.isAvailableOnTuesday" for="field_isAvailableOnTuesday">IsAvailableOnTuesday</label>
            <input type="checkbox" class="form-control" name="isAvailableOnTuesday" id="field_isAvailableOnTuesday"
                    ng-model="carrier.isAvailableOnTuesday"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.carrier.isAvailableOnWednesday" for="field_isAvailableOnWednesday">IsAvailableOnWednesday</label>
            <input type="checkbox" class="form-control" name="isAvailableOnWednesday" id="field_isAvailableOnWednesday"
                    ng-model="carrier.isAvailableOnWednesday"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.carrier.isAvailableOnThursday" for="field_isAvailableOnThursday">IsAvailableOnThursday</label>
            <input type="checkbox" class="form-control" name="isAvailableOnThursday" id="field_isAvailableOnThursday"
                    ng-model="carrier.isAvailableOnThursday"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.carrier.isAvailableOnFriday" for="field_isAvailableOnFriday">IsAvailableOnFriday</label>
            <input type="checkbox" class="form-control" name="isAvailableOnFriday" id="field_isAvailableOnFriday"
                    ng-model="carrier.isAvailableOnFriday"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.carrier.isAvailableOnSaturday" for="field_isAvailableOnSaturday">IsAvailableOnSaturday</label>
            <input type="checkbox" class="form-control" name="isAvailableOnSaturday" id="field_isAvailableOnSaturday"
                    ng-model="carrier.isAvailableOnSaturday"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.carrier.isAvailableOnSunday" for="field_isAvailableOnSunday">IsAvailableOnSunday</label>
            <input type="checkbox" class="form-control" name="isAvailableOnSunday" id="field_isAvailableOnSunday"
                    ng-model="carrier.isAvailableOnSunday"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.carrier.docketRefNo" for="field_docketRefNo">DocketRefNo</label>
            <input type="text" class="form-control" name="docketRefNo" id="field_docketRefNo"
                    ng-model="carrier.docketRefNo"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
