<div>
    <h2>Carriers</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="carrier.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Carrier</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Carrier</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="code"><span>Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phone"><span>Phone</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mobile"><span>Mobile</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="accountNo"><span>AccountNo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="comment"><span>Comment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isAvailableOnMonday"><span>IsAvailableOnMonday</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isAvailableOnTuesday"><span>IsAvailableOnTuesday</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isAvailableOnWednesday"><span>IsAvailableOnWednesday</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isAvailableOnThursday"><span>IsAvailableOnThursday</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isAvailableOnFriday"><span>IsAvailableOnFriday</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isAvailableOnSaturday"><span>IsAvailableOnSaturday</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isAvailableOnSunday"><span>IsAvailableOnSunday</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="docketRefNo"><span>DocketRefNo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="carrier in carriers track by carrier.id">
                    <td><a ui-sref="carrier.detail({id:carrier.id})">{{carrier.id}}</a></td>
                    <td>{{carrier.code}}</td>
                    <td>{{carrier.name}}</td>
                    <td>{{carrier.phone}}</td>
                    <td>{{carrier.mobile}}</td>
                    <td>{{carrier.accountNo}}</td>
                    <td>{{carrier.comment}}</td>
                    <td>{{carrier.isAvailableOnMonday}}</td>
                    <td>{{carrier.isAvailableOnTuesday}}</td>
                    <td>{{carrier.isAvailableOnWednesday}}</td>
                    <td>{{carrier.isAvailableOnThursday}}</td>
                    <td>{{carrier.isAvailableOnFriday}}</td>
                    <td>{{carrier.isAvailableOnSaturday}}</td>
                    <td>{{carrier.isAvailableOnSunday}}</td>
                    <td>{{carrier.docketRefNo}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="carrier.detail({id:carrier.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="carrier.edit({id:carrier.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="carrier.delete({id:carrier.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <uib-pager total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pager>
</div>
