<!-- MAIN CONTENT -->
<div id="content">
    <div class="well">
        <button class="close" data-dismiss="alert">
            ×
        </button>
        <div class="btn-toolbar">
            <div class="btn-group">
                <a href="javascript:void(0);" class="btn btn-default btn-sm"><i class="fa fa-arrow-left fa-lg"></i></a>
                <a href="javascript:void(0);" class="btn btn-default btn-sm"><i class="fa fa-arrow-right fa-lg"></i></a>
                <a href="javascript:void(0);" class="btn btn-default btn-sm"><i class="fa fa-refresh fa-lg"></i></a>
            </div>
            <div class="btn-group">
                <a href="javascript:void(0);" class="btn btn-default btn-sm"><i class="fa fa-print fa-lg"></i></a>
            </div>
            <div class="btn-group">
                <a href="javascript:void(0);" class="btn btn-labeled btn-success"> <span class="btn-label"><i
                    class="glyphicon glyphicon-hdd"></i></span>Save </a>
                <a href="javascript:void(0);" class="btn btn-labeled btn-danger"> <span class="btn-label"><i
                    class="glyphicon glyphicon-remove"></i></span>Undo </a>
                <a ui-sref="store_management.new" class="btn btn-labeled btn-success"> <span class="btn-label"><i
                    class="glyphicon glyphicon-plus"></i></span>Add </a>
                <a href="javascript:void(0);" class="btn btn-labeled btn-danger"> <span class="btn-label"><i
                    class="glyphicon glyphicon-trash"></i></span>Trash </a>
            </div>

        </div>
    </div>
    <!-- widget grid -->
    <section widget-grid id="widget-grid">


        <div class="row">

            <article class="col-sm-12">

                <div jarvis-widget data-widget-color="darken"
                     data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>

                        <h2>Create or Edit a store</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <form name="editForm" id="store-edit-form" ng-submit="save()" class="smart-form"
                                  novalidate="novalidate">

                                <fieldset class="col-sm-12 col-lg-6 col-md-12">
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="input"> <i class="icon-prepend fa fa-dot-circle-o"></i>
                                                <input type="text" name="code" placeholder="Code" ng-model="store.code">
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="input"> <i class="icon-prepend fa fa-square"></i>
                                                <input type="text" name="name" placeholder="name" ng-model="store.name">
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-5">
                                            <label class="input"> <i class="icon-prepend fa fa-phone"></i>
                                                <input ng-model="store.phone" type="tel" name="phone"
                                                       placeholder="Phone" data-masked-input="(999) 999-9999">
                                            </label>
                                        </section>
                                        <section class="col col-5">
                                            <label class="input"> <i class="icon-prepend fa fa-fax"></i>
                                                <input ng-model="store.fax" type="text" name="fax" placeholder="Fax">
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-10">
                                            <label class="input"> <i class="icon-prepend fa fa-envelope-o"></i>
                                                <input ng-model="store.email" type="email" name="email"
                                                       placeholder="E-mail">
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-10">
                                            <label class="input"> <i class="icon-prepend fa fa-globe"></i>
                                                <input type="text" name="webUrl" placeholder="Web Url"
                                                       ng-model="store.webUrl">
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="input"> <i class="icon-append fa fa-calendar"></i>
                                                <input type="text" name="request" placeholder="In Business Since"
                                                       data-smart-datepicker data-dateformat="dd/mm/yy"
                                                       id="field_inBisinessSince" ng-model="store.inBisinessSince">
                                            </label>
                                        </section>
                                    </div>
                                    <section>
                                        <label class="checkbox">
                                            <input ng-model="store.isArchived" type="checkbox" name="field_isArchived"
                                                   id="field_isArchived">
                                            <i></i>Is this store record archived?</label>
                                    </section>
                                </fieldset>
                                <fieldset>
                                    <section>
                                        <label for="address1" class="input">
                                            <input ng-model="store.address1" type="text" name="address1" id="address1"
                                                   placeholder="Address Line 1">
                                        </label>
                                    </section>
                                    <section>
                                        <label for="address2" class="input">
                                            <input ng-model="store.address2" type="text" name="address2" id="address2"
                                                   placeholder="Address Line 2">
                                        </label>
                                    </section>
                                    <div class="row">
                                        <section class="col col-5">
                                            <label for="field_suburb" class="input">
                                                <input ng-model="store.suburb" type="text" name="suburb"
                                                       id="field_suburb" placeholder="Suburb">
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-5">
                                            <label class="select">
                                                <select name="country" ng-model="store.country">
                                                    <option value="0" selected="" disabled="">Country</option>
                                                    <option value="{{country.value}}" ng-repeat="country in countries">
                                                        {{country.value}}
                                                    </option>
                                                </select> <i></i> </label>
                                        </section>

                                        <section class="col col-4">
                                            <label class="input">
                                                <input type="text" name="state" placeholder="State"
                                                       ng-model="store.state">
                                            </label>
                                        </section>

                                        <section class="col col-3">
                                            <label class="input">
                                                <input ng-model="store.postcode" type="text" name="code"
                                                       placeholder="Post code">
                                            </label>
                                        </section>
                                    </div>


                                    <section>
                                        <label class="textarea">
                                            <textarea rows="3" name="info" placeholder="Additional info"></textarea>
                                        </label>
                                    </section>
                                </fieldset>
                                <footer style="clear:both">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"
                                            ng-click="clear()">
                                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                                    </button>
                                    <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted"
                                            class="btn btn-primary">
                                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
                                    </button>
                                    <button type="submit"
                                            onclick="window.history.back()"
                                            class="btn btn-info">
                                        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
                                    </button>
                                </footer>
                            </form>

                        </div>
                    </div>
                </div>


            </article>


        </div>

    </section>
</div>


