<div>
    <h2>ProductActivityAudits</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="productActivityAudit.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new ProductActivityAudit</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a ProductActivityAudit</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdOn"><span>CreatedOn</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="txnNumber"><span>TxnNumber</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="activityType"><span>ActivityType</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtyTxn"><span>QtyTxn</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtyAdjusted"><span>QtyAdjusted</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtyStockOnHold"><span>QtyStockOnHold</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lineNo"><span>LineNo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="txnAccountCode"><span>TxnAccountCode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdById"><span>createdBy</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="productId"><span>product</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="productActivityAudit in productActivityAudits track by productActivityAudit.id">
                    <td><a ui-sref="productActivityAudit.detail({id:productActivityAudit.id})">{{productActivityAudit.id}}</a></td>
                    <td>{{productActivityAudit.createdOn | date:'medium'}}</td>
                    <td>{{productActivityAudit.txnNumber}}</td>
                    <td translate="{{'bssuiteApp.ProductActivityType.' + productActivityAudit.activityType}}">{{productActivityAudit.activityType}}</td>
                    <td>{{productActivityAudit.qtyTxn}}</td>
                    <td>{{productActivityAudit.qtyAdjusted}}</td>
                    <td>{{productActivityAudit.qtyStockOnHold}}</td>
                    <td>{{productActivityAudit.lineNo}}</td>
                    <td>{{productActivityAudit.txnAccountCode}}</td>
                    <td>
                        <a ui-sref="staff.detail({id:productActivityAudit.createdById})">{{productActivityAudit.createdById}}</a>
                    </td>
                    <td>
                        <a ui-sref="product.detail({id:productActivityAudit.productId})">{{productActivityAudit.productId}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="productActivityAudit.detail({id:productActivityAudit.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="productActivityAudit.edit({id:productActivityAudit.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="productActivityAudit.delete({id:productActivityAudit.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
