<div>
    <h2>StockGroups</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="stockGroup.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new StockGroup</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a StockGroup</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>IsDiminishing</th>
                    <th>LowestMargin</th>
                    <th>HighestMargin</th>
                    <th>IsDiscountAllowed</th>
                    <th>Comment</th>
                    <th>IsArchived</th>
                    <th>stockFamily</th>
                    <th>priceScale</th>
                    <th>taxRate</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stockGroup in stockGroups track by stockGroup.id">
                    <td><a ui-sref="stockGroup.detail({id:stockGroup.id})">{{stockGroup.id}}</a></td>
                    <td>{{stockGroup.code}}</td>
                    <td>{{stockGroup.name}}</td>
                    <td>{{stockGroup.isDiminishing}}</td>
                    <td>{{stockGroup.lowestMargin}}</td>
                    <td>{{stockGroup.highestMargin}}</td>
                    <td>{{stockGroup.isDiscountAllowed}}</td>
                    <td>{{stockGroup.comment}}</td>
                    <td>{{stockGroup.isArchived}}</td>
                    <td>
                        <a ui-sref="stockFamily.detail({id:stockGroup.stockFamilyId})">{{stockGroup.stockFamilyId}}</a>
                    </td>
                    <td>
                        <a ui-sref="priceScale.detail({id:stockGroup.priceScaleId})">{{stockGroup.priceScaleId}}</a>
                    </td>
                    <td>
                        <a ui-sref="taxTable.detail({id:stockGroup.taxRateId})">{{stockGroup.taxRateId}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="stockGroup.detail({id:stockGroup.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="stockGroup.edit({id:stockGroup.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="stockGroup.delete({id:stockGroup.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
