<div>
    <h2>Products</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="product.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Product</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Product</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="code"><span>Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span>Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="longDescription"><span>LongDescription</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="alternateCode"><span>AlternateCode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bin"><span>Bin</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isOnSpecial"><span>IsOnSpecial</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isOnHold"><span>IsOnHold</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isInPricelistReports"><span>IsInPricelistReports</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtyOnOrder"><span>QtyOnOrder</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtyStockOnHold"><span>QtyStockOnHold</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtyBackordered"><span>QtyBackordered</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtyAllocated"><span>QtyAllocated</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtyBackorderHold"><span>QtyBackorderHold</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtyConsigned"><span>QtyConsigned</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtyWarehouseReceived"><span>QtyWarehouseReceived</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtyStocktakeVariance"><span>QtyStocktakeVariance</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtyTransitIn"><span>QtyTransitIn</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtyTransitOut"><span>QtyTransitOut</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cost"><span>Cost</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wholesaleListPrice"><span>WholesaleListPrice</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="listPrice"><span>ListPrice</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tradePrice"><span>TradePrice</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="boxCost"><span>BoxCost</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="unitMeasure"><span>UnitMeasure</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="boxMeasure"><span>BoxMeasure</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="boxConversionFactor"><span>BoxConversionFactor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="weight"><span>Weight</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="volumn"><span>Volumn</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="serviceCover"><span>ServiceCover</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtyFloorLevel"><span>QtyFloorLevel</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtyReorderLevel"><span>QtyReorderLevel</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtyOverstockLevel"><span>QtyOverstockLevel</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isComment"><span>IsComment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isDiminishing"><span>IsDiminishing</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isNonTaxExeptable"><span>IsNonTaxExeptable</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="leadTime"><span>LeadTime</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="purchaseUnit"><span>PurchaseUnit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="estMonthlySales"><span>EstMonthlySales</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateFirstSale"><span>DateFirstSale</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateLastSale"><span>DateLastSale</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateFirstOrder"><span>DateFirstOrder</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateCreated"><span>DateCreated</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateLastDelivery"><span>DateLastDelivery</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateNextDelivery"><span>DateNextDelivery</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateLastTransfer"><span>DateLastTransfer</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateLastOrder"><span>DateLastOrder</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateLastStocktake"><span>DateLastStocktake</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isArchived"><span>IsArchived</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="classCode"><span>ClassCode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stockGroupId"><span>stockGroup</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="supplierId"><span>supplier</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="storeId"><span>store</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="taxRateId"><span>taxRate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in products track by product.id">
                    <td><a ui-sref="product.detail({id:product.id})">{{product.id}}</a></td>
                    <td>{{product.code}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.longDescription}}</td>
                    <td>{{product.alternateCode}}</td>
                    <td>{{product.bin}}</td>
                    <td>{{product.isOnSpecial}}</td>
                    <td>{{product.isOnHold}}</td>
                    <td>{{product.isInPricelistReports}}</td>
                    <td>{{product.qtyOnOrder}}</td>
                    <td>{{product.qtyStockOnHold}}</td>
                    <td>{{product.qtyBackordered}}</td>
                    <td>{{product.qtyAllocated}}</td>
                    <td>{{product.qtyBackorderHold}}</td>
                    <td>{{product.qtyConsigned}}</td>
                    <td>{{product.qtyWarehouseReceived}}</td>
                    <td>{{product.qtyStocktakeVariance}}</td>
                    <td>{{product.qtyTransitIn}}</td>
                    <td>{{product.qtyTransitOut}}</td>
                    <td>{{product.cost}}</td>
                    <td>{{product.wholesaleListPrice}}</td>
                    <td>{{product.listPrice}}</td>
                    <td>{{product.tradePrice}}</td>
                    <td>{{product.boxCost}}</td>
                    <td>{{product.unitMeasure}}</td>
                    <td>{{product.boxMeasure}}</td>
                    <td>{{product.boxConversionFactor}}</td>
                    <td>{{product.weight}}</td>
                    <td>{{product.volumn}}</td>
                    <td>{{product.serviceCover}}</td>
                    <td>{{product.qtyFloorLevel}}</td>
                    <td>{{product.qtyReorderLevel}}</td>
                    <td>{{product.qtyOverstockLevel}}</td>
                    <td>{{product.isComment}}</td>
                    <td>{{product.isDiminishing}}</td>
                    <td>{{product.isNonTaxExeptable}}</td>
                    <td>{{product.leadTime}}</td>
                    <td>{{product.purchaseUnit}}</td>
                    <td>{{product.estMonthlySales}}</td>
                        <td>{{product.dateFirstSale | date:'mediumDate'}}</td>
                        <td>{{product.dateLastSale | date:'mediumDate'}}</td>
                        <td>{{product.dateFirstOrder | date:'mediumDate'}}</td>
                        <td>{{product.dateCreated | date:'mediumDate'}}</td>
                        <td>{{product.dateLastDelivery | date:'mediumDate'}}</td>
                        <td>{{product.dateNextDelivery | date:'mediumDate'}}</td>
                        <td>{{product.dateLastTransfer | date:'mediumDate'}}</td>
                        <td>{{product.dateLastOrder | date:'mediumDate'}}</td>
                        <td>{{product.dateLastStocktake | date:'mediumDate'}}</td>
                    <td>{{product.isArchived}}</td>
                    <td>{{product.classCode}}</td>
                    <td>
                        <a ui-sref="stockGroup.detail({id:product.stockGroupId})">{{product.stockGroupId}}</a>
                    </td>
                    <td>
                        <a ui-sref="supplier.detail({id:product.supplierId})">{{product.supplierId}}</a>
                    </td>
                    <td>
                        <a ui-sref="store.detail({id:product.storeId})">{{product.storeId}}</a>
                    </td>
                    <td>
                        <a ui-sref="taxTable.detail({id:product.taxRateId})">{{product.taxRateId}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="product.detail({id:product.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="product.edit({id:product.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="product.delete({id:product.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
