
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPromotionLabel" translate="bssuiteApp.promotion.home.createOrEditLabel">Create or edit a Promotion</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="promotion.id" readonly />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.promotion.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="promotion.code"
                    required />
            <div ng-show="editForm.code.$invalid">
                <p class="help-block"
                    ng-show="editForm.code.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.promotion.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="promotion.name"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.promotion.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="promotion.description"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.promotion.startDate" for="field_startDate">StartDate</label>
            <input type="date" class="form-control" name="startDate" id="field_startDate"
                    ng-model="promotion.startDate"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.promotion.endDate" for="field_endDate">EndDate</label>
            <input type="date" class="form-control" name="endDate" id="field_endDate"
                    ng-model="promotion.endDate"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.promotion.cost" for="field_cost">Cost</label>
            <input type="number" class="form-control" name="cost" id="field_cost"
                    ng-model="promotion.cost"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.promotion.income" for="field_income">Income</label>
            <input type="number" class="form-control" name="income" id="field_income"
                    ng-model="promotion.income"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.promotion.expense" for="field_expense">Expense</label>
            <input type="number" class="form-control" name="expense" id="field_expense"
                    ng-model="promotion.expense"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.promotion.dateCreated" for="field_dateCreated">DateCreated</label>
            <input type="date" class="form-control" name="dateCreated" id="field_dateCreated"
                    ng-model="promotion.dateCreated"
                     />
        </div>

        <div class="form-group">
            <label translate="bssuiteApp.promotion.store" for="field_store">store</label>
            <select class="form-control" id="field_store" name="store" ng-model="promotion.store" ng-options="store as store.id for store in stores track by store.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
