<div>
    <h2>Promotions</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="promotion.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Promotion</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Promotion</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="code"><span>Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span>Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startDate"><span>StartDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endDate"><span>EndDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cost"><span>Cost</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="income"><span>Income</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="expense"><span>Expense</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateCreated"><span>DateCreated</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="store.id"><span>store</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="promotion in promotions track by promotion.id">
                    <td><a ui-sref="promotion.detail({id:promotion.id})">{{promotion.id}}</a></td>
                    <td>{{promotion.code}}</td>
                    <td>{{promotion.name}}</td>
                    <td>{{promotion.description}}</td>
                        <td>{{promotion.startDate | date:'mediumDate'}}</td>
                        <td>{{promotion.endDate | date:'mediumDate'}}</td>
                    <td>{{promotion.cost}}</td>
                    <td>{{promotion.income}}</td>
                    <td>{{promotion.expense}}</td>
                        <td>{{promotion.dateCreated | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="store.detail({id:promotion.store.id})">{{promotion.store.id}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="promotion.detail({id:promotion.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="promotion.edit({id:promotion.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="promotion.delete({id:promotion.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
