<div>
    <h2>CustomerDiscountRules</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="customerDiscountRule.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new CustomerDiscountRule</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a CustomerDiscountRule</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="priceGroupCode"><span>PriceGroupCode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ruleNo"><span>RuleNo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isAppliedGlobally"><span>IsAppliedGlobally</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isAppliedOnSpecialItemsOnly"><span>IsAppliedOnSpecialItemsOnly</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="customerCode"><span>CustomerCode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="customerCategoryCode"><span>CustomerCategoryCode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fromProductCode"><span>FromProductCode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="toProductCode"><span>ToProductCode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startDate"><span>StartDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endDate"><span>EndDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtyBreak"><span>QtyBreak</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fromSupplierCode"><span>FromSupplierCode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="toSupplierCode"><span>ToSupplierCode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fromStockGroupCode"><span>FromStockGroupCode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="toStockGroupCode"><span>ToStockGroupCode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="taxCode"><span>TaxCode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isAppliedWhenTaxExempt"><span>IsAppliedWhenTaxExempt</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="storeCode"><span>StoreCode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="discountName"><span>DiscountName</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stockFamilyCode"><span>StockFamilyCode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="listPrice"><span>ListPrice</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="discountFormula"><span>DiscountFormula</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="customerDiscountRule in customerDiscountRules track by customerDiscountRule.id">
                    <td><a ui-sref="customerDiscountRule.detail({id:customerDiscountRule.id})">{{customerDiscountRule.id}}</a></td>
                    <td>{{customerDiscountRule.priceGroupCode}}</td>
                    <td>{{customerDiscountRule.ruleNo}}</td>
                    <td>{{customerDiscountRule.isAppliedGlobally}}</td>
                    <td>{{customerDiscountRule.isAppliedOnSpecialItemsOnly}}</td>
                    <td>{{customerDiscountRule.customerCode}}</td>
                    <td>{{customerDiscountRule.customerCategoryCode}}</td>
                    <td>{{customerDiscountRule.fromProductCode}}</td>
                    <td>{{customerDiscountRule.toProductCode}}</td>
                        <td>{{customerDiscountRule.startDate | date:'mediumDate'}}</td>
                        <td>{{customerDiscountRule.endDate | date:'mediumDate'}}</td>
                    <td>{{customerDiscountRule.qtyBreak}}</td>
                    <td>{{customerDiscountRule.fromSupplierCode}}</td>
                    <td>{{customerDiscountRule.toSupplierCode}}</td>
                    <td>{{customerDiscountRule.fromStockGroupCode}}</td>
                    <td>{{customerDiscountRule.toStockGroupCode}}</td>
                    <td>{{customerDiscountRule.taxCode}}</td>
                    <td>{{customerDiscountRule.isAppliedWhenTaxExempt}}</td>
                    <td>{{customerDiscountRule.storeCode}}</td>
                    <td>{{customerDiscountRule.discountName}}</td>
                    <td>{{customerDiscountRule.stockFamilyCode}}</td>
                    <td>{{customerDiscountRule.listPrice}}</td>
                    <td>{{customerDiscountRule.discountFormula}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="customerDiscountRule.detail({id:customerDiscountRule.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="customerDiscountRule.edit({id:customerDiscountRule.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="customerDiscountRule.delete({id:customerDiscountRule.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
