<div>
    <h2>GoodsReceivedAudits</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="goodsReceivedAudit.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new GoodsReceivedAudit</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a GoodsReceivedAudit</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="receivedOn"><span>ReceivedOn</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="txnNumber"><span>TxnNumber</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="typeReceipt"><span>TypeReceipt</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtyReceived"><span>QtyReceived</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="receivedById"><span>receivedBy</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="supplierId"><span>supplier</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="purchaseOrderId"><span>purchaseOrder</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="productId"><span>product</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="goodsReceivedAudit in goodsReceivedAudits track by goodsReceivedAudit.id">
                    <td><a ui-sref="goodsReceivedAudit.detail({id:goodsReceivedAudit.id})">{{goodsReceivedAudit.id}}</a></td>
                    <td>{{goodsReceivedAudit.receivedOn | date:'medium'}}</td>
                    <td>{{goodsReceivedAudit.txnNumber}}</td>
                    <td translate="{{'bssuiteApp.GoodsReceiptType.' + goodsReceivedAudit.typeReceipt}}">{{goodsReceivedAudit.typeReceipt}}</td>
                    <td>{{goodsReceivedAudit.qtyReceived}}</td>
                    <td>
                        <a ui-sref="staff.detail({id:goodsReceivedAudit.receivedById})">{{goodsReceivedAudit.receivedById}}</a>
                    </td>
                    <td>
                        <a ui-sref="supplier.detail({id:goodsReceivedAudit.supplierId})">{{goodsReceivedAudit.supplierId}}</a>
                    </td>
                    <td>
                        <a ui-sref="purchaseOrder.detail({id:goodsReceivedAudit.purchaseOrderId})">{{goodsReceivedAudit.purchaseOrderId}}</a>
                    </td>
                    <td>
                        <a ui-sref="product.detail({id:goodsReceivedAudit.productId})">{{goodsReceivedAudit.productId}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="goodsReceivedAudit.detail({id:goodsReceivedAudit.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="goodsReceivedAudit.edit({id:goodsReceivedAudit.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="goodsReceivedAudit.delete({id:goodsReceivedAudit.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
