
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTxnActivityAuditLabel">Create or edit a TxnActivityAudit</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="txnActivityAudit.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_editedOn">EditedOn</label>
            <input type="datetime-local" class="form-control" name="editedOn" id="field_editedOn"
                    ng-model="txnActivityAudit.editedOn"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_txnNumber">TxnNumber</label>
            <input type="text" class="form-control" name="txnNumber" id="field_txnNumber"
                    ng-model="txnActivityAudit.txnNumber"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_txnType">TxnType</label>
            <select class="form-control" name="txnType" ng-model="txnActivityAudit.txnType" id="field_txnType">
                <option value="PURCHASEORDER">PURCHASEORDER</option>
                <option value="SALESORDER">SALESORDER</option>
                <option value="INVOICE">INVOICE</option>
                <option value="QUOTE">QUOTE</option>
                <option value="BACKORDER">BACKORDER</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_txnAmount">TxnAmount</label>
            <input type="number" class="form-control" name="txnAmount" id="field_txnAmount"
                    ng-model="txnActivityAudit.txnAmount"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_bankAcc">BankAcc</label>
            <input type="text" class="form-control" name="bankAcc" id="field_bankAcc"
                    ng-model="txnActivityAudit.bankAcc"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_editType">EditType</label>
            <select class="form-control" name="editType" ng-model="txnActivityAudit.editType" id="field_editType">
                <option value="ADD">ADD</option>
                <option value="EDIT">EDIT</option>
                <option value="DELETE">DELETE</option>
                <option value="ALL">ALL</option>
            </select>
        </div>

        <div class="form-group">
            <label for="field_editedBy">editedBy</label>
            <select class="form-control" id="field_editedBy" name="editedBy" ng-model="txnActivityAudit.editedById" ng-options="staff.id as staff.id for staff in staffs">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
