<div>
    <h2>TxnActivityAudits</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="txnActivityAudit.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new TxnActivityAudit</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a TxnActivityAudit</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="editedOn"><span>EditedOn</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="txnNumber"><span>TxnNumber</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="txnType"><span>TxnType</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="txnAmount"><span>TxnAmount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bankAcc"><span>BankAcc</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="editType"><span>EditType</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="editedById"><span>editedBy</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="txnActivityAudit in txnActivityAudits track by txnActivityAudit.id">
                    <td><a ui-sref="txnActivityAudit.detail({id:txnActivityAudit.id})">{{txnActivityAudit.id}}</a></td>
                    <td>{{txnActivityAudit.editedOn | date:'medium'}}</td>
                    <td>{{txnActivityAudit.txnNumber}}</td>
                    <td translate="{{'bssuiteApp.TxnType.' + txnActivityAudit.txnType}}">{{txnActivityAudit.txnType}}</td>
                    <td>{{txnActivityAudit.txnAmount}}</td>
                    <td>{{txnActivityAudit.bankAcc}}</td>
                    <td translate="{{'bssuiteApp.TxnEditType.' + txnActivityAudit.editType}}">{{txnActivityAudit.editType}}</td>
                    <td>
                        <a ui-sref="staff.detail({id:txnActivityAudit.editedById})">{{txnActivityAudit.editedById}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="txnActivityAudit.detail({id:txnActivityAudit.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="txnActivityAudit.edit({id:txnActivityAudit.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="txnActivityAudit.delete({id:txnActivityAudit.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
