<div>
    <h2 translate="bssuiteApp.supplierDiscountRule.home.title">SupplierDiscountRules</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="supplierDiscountRule.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="bssuiteApp.supplierDiscountRule.home.createLabel">Create a new SupplierDiscountRule</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a SupplierDiscountRule</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteSupplierDiscountRuleConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(supplierDiscountRule.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="bssuiteApp.supplierDiscountRule.delete.question" translate-values="{id: '{{supplierDiscountRule.id}}'}">Are you sure you want to delete this SupplierDiscountRule?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="bssuiteApp.supplierDiscountRule.supplierCode">SupplierCode</th>
                    <th translate="bssuiteApp.supplierDiscountRule.ruleNo">RuleNo</th>
                    <th translate="bssuiteApp.supplierDiscountRule.isAppliedToSales">IsAppliedToSales</th>
                    <th translate="bssuiteApp.supplierDiscountRule.isAppliedOnSpecialItemsOnly">IsAppliedOnSpecialItemsOnly</th>
                    <th translate="bssuiteApp.supplierDiscountRule.customerCode">CustomerCode</th>
                    <th translate="bssuiteApp.supplierDiscountRule.customerCategoryCode">CustomerCategoryCode</th>
                    <th translate="bssuiteApp.supplierDiscountRule.productCode">ProductCode</th>
                    <th translate="bssuiteApp.supplierDiscountRule.startDate">StartDate</th>
                    <th translate="bssuiteApp.supplierDiscountRule.endDate">EndDate</th>
                    <th translate="bssuiteApp.supplierDiscountRule.qtyBreak">QtyBreak</th>
                    <th translate="bssuiteApp.supplierDiscountRule.fromStockGroupCode">FromStockGroupCode</th>
                    <th translate="bssuiteApp.supplierDiscountRule.toStockGroupCode">ToStockGroupCode</th>
                    <th translate="bssuiteApp.supplierDiscountRule.taxCode">TaxCode</th>
                    <th translate="bssuiteApp.supplierDiscountRule.isAppliedWhenTaxExempt">IsAppliedWhenTaxExempt</th>
                    <th translate="bssuiteApp.supplierDiscountRule.storeCode">StoreCode</th>
                    <th translate="bssuiteApp.supplierDiscountRule.discountName">DiscountName</th>
                    <th translate="bssuiteApp.supplierDiscountRule.stockFamilyCode">StockFamilyCode</th>
                    <th translate="bssuiteApp.supplierDiscountRule.cost">Cost</th>
                    <th translate="bssuiteApp.supplierDiscountRule.discountFormula">DiscountFormula</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="supplierDiscountRule in supplierDiscountRules track by supplierDiscountRule.id">
                    <td><a ui-sref="supplierDiscountRule.detail({id:supplierDiscountRule.id})">{{supplierDiscountRule.id}}</a></td>
                    <td>{{supplierDiscountRule.supplierCode}}</td>
                    <td>{{supplierDiscountRule.ruleNo}}</td>
                    <td>{{supplierDiscountRule.isAppliedToSales}}</td>
                    <td>{{supplierDiscountRule.isAppliedOnSpecialItemsOnly}}</td>
                    <td>{{supplierDiscountRule.customerCode}}</td>
                    <td>{{supplierDiscountRule.customerCategoryCode}}</td>
                    <td>{{supplierDiscountRule.productCode}}</td>
                        <td>{{supplierDiscountRule.startDate | date:'mediumDate'}}</td>
                        <td>{{supplierDiscountRule.endDate | date:'mediumDate'}}</td>
                    <td>{{supplierDiscountRule.qtyBreak}}</td>
                    <td>{{supplierDiscountRule.fromStockGroupCode}}</td>
                    <td>{{supplierDiscountRule.toStockGroupCode}}</td>
                    <td>{{supplierDiscountRule.taxCode}}</td>
                    <td>{{supplierDiscountRule.isAppliedWhenTaxExempt}}</td>
                    <td>{{supplierDiscountRule.storeCode}}</td>
                    <td>{{supplierDiscountRule.discountName}}</td>
                    <td>{{supplierDiscountRule.stockFamilyCode}}</td>
                    <td>{{supplierDiscountRule.cost}}</td>
                    <td>{{supplierDiscountRule.discountFormula}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="supplierDiscountRule.detail({id:supplierDiscountRule.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="supplierDiscountRule.edit({id:supplierDiscountRule.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(supplierDiscountRule.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
