<div>
    <h2>PurchaseOrders</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="purchaseOrder.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new PurchaseOrder</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a PurchaseOrder</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="orderNo"><span>OrderNo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span>Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdDate"><span>CreatedDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ref"><span>Ref</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="expectedDeliveryDate"><span>ExpectedDeliveryDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isTaxable"><span>IsTaxable</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isLocked"><span>IsLocked</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="comment"><span>Comment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="totalTaxAmount"><span>TotalTaxAmount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="totalCost"><span>TotalCost</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="taxExemptionCode"><span>TaxExemptionCode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isSuspended"><span>IsSuspended</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="supplierId"><span>supplier</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="supplierContactId"><span>supplierContact</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="supplierDeliveryContactId"><span>supplierDeliveryContact</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="storeId"><span>store</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="salesOrderId"><span>salesOrder</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="updatedByStaffId"><span>updatedByStaff</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdById"><span>createdBy</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="purchaseOrder in purchaseOrders track by purchaseOrder.id">
                    <td><a ui-sref="purchaseOrder.detail({id:purchaseOrder.id})">{{purchaseOrder.id}}</a></td>
                    <td>{{purchaseOrder.orderNo}}</td>
                    <td translate="{{'bssuiteApp.PurchaseOrderStatus.' + purchaseOrder.status}}">{{purchaseOrder.status}}</td>
                    <td>{{purchaseOrder.createdDate | date:'medium'}}</td>
                    <td>{{purchaseOrder.ref}}</td>
                        <td>{{purchaseOrder.expectedDeliveryDate | date:'mediumDate'}}</td>
                    <td>{{purchaseOrder.isTaxable}}</td>
                    <td>{{purchaseOrder.isLocked}}</td>
                    <td>{{purchaseOrder.comment}}</td>
                    <td>{{purchaseOrder.totalTaxAmount}}</td>
                    <td>{{purchaseOrder.totalCost}}</td>
                    <td>{{purchaseOrder.taxExemptionCode}}</td>
                    <td>{{purchaseOrder.isSuspended}}</td>
                    <td>
                        <a ui-sref="Supplier.detail({id:purchaseOrder.supplierId})">{{purchaseOrder.supplierId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:purchaseOrder.supplierContactId})">{{purchaseOrder.supplierContactId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:purchaseOrder.supplierDeliveryContactId})">{{purchaseOrder.supplierDeliveryContactId}}</a>
                    </td>
                    <td>
                        <a ui-sref="store.detail({id:purchaseOrder.storeId})">{{purchaseOrder.storeId}}</a>
                    </td>
                    <td>
                        <a ui-sref="salesOrder.detail({id:purchaseOrder.salesOrderId})">{{purchaseOrder.salesOrderId}}</a>
                    </td>
                    <td>
                        <a ui-sref="staff.detail({id:purchaseOrder.updatedByStaffId})">{{purchaseOrder.updatedByStaffId}}</a>
                    </td>
                    <td>
                        <a ui-sref="staff.detail({id:purchaseOrder.createdById})">{{purchaseOrder.createdById}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="purchaseOrder.detail({id:purchaseOrder.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="purchaseOrder.edit({id:purchaseOrder.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="purchaseOrder.delete({id:purchaseOrder.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
