
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPurchaseOrderLabel" translate="bssuiteApp.purchaseOrder.home.createOrEditLabel">Create or edit a PurchaseOrder</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="purchaseOrder.id" readonly />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.purchaseOrder.orderNo" for="field_orderNo">OrderNo</label>
            <input type="text" class="form-control" name="orderNo" id="field_orderNo"
                    ng-model="purchaseOrder.orderNo"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.purchaseOrder.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="purchaseOrder.status" id="field_status">
                <option value="ONORDER" translate="bssuiteApp.PurchaseOrderStatus.ONORDER">ONORDER</option>
                <option value="DELIVERED" translate="bssuiteApp.PurchaseOrderStatus.DELIVERED">DELIVERED</option>
                <option value="CANCELLED" translate="bssuiteApp.PurchaseOrderStatus.CANCELLED">CANCELLED</option>
                <option value="PARTIALFILL" translate="bssuiteApp.PurchaseOrderStatus.PARTIALFILL">PARTIALFILL</option>
                <option value="SUSPENDED" translate="bssuiteApp.PurchaseOrderStatus.SUSPENDED">SUSPENDED</option>
            </select>
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.purchaseOrder.createdDate" for="field_createdDate">CreatedDate</label>
            <input type="datetime-local" class="form-control" name="createdDate" id="field_createdDate"
                    ng-model="purchaseOrder.createdDate"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.purchaseOrder.ref" for="field_ref">Ref</label>
            <input type="text" class="form-control" name="ref" id="field_ref"
                    ng-model="purchaseOrder.ref"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.purchaseOrder.expectedDeliveryDate" for="field_expectedDeliveryDate">ExpectedDeliveryDate</label>
            <input type="date" class="form-control" name="expectedDeliveryDate" id="field_expectedDeliveryDate"
                    ng-model="purchaseOrder.expectedDeliveryDate"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.purchaseOrder.isTaxable" for="field_isTaxable">IsTaxable</label>
            <input type="checkbox" class="form-control" name="isTaxable" id="field_isTaxable"
                    ng-model="purchaseOrder.isTaxable"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.purchaseOrder.isLocked" for="field_isLocked">IsLocked</label>
            <input type="checkbox" class="form-control" name="isLocked" id="field_isLocked"
                    ng-model="purchaseOrder.isLocked"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.purchaseOrder.comment" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                    ng-model="purchaseOrder.comment"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.purchaseOrder.totalTaxAmount" for="field_totalTaxAmount">TotalTaxAmount</label>
            <input type="number" class="form-control" name="totalTaxAmount" id="field_totalTaxAmount"
                    ng-model="purchaseOrder.totalTaxAmount"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.purchaseOrder.totalCost" for="field_totalCost">TotalCost</label>
            <input type="number" class="form-control" name="totalCost" id="field_totalCost"
                    ng-model="purchaseOrder.totalCost"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.purchaseOrder.taxExemptionCode" for="field_taxExemptionCode">TaxExemptionCode</label>
            <input type="text" class="form-control" name="taxExemptionCode" id="field_taxExemptionCode"
                    ng-model="purchaseOrder.taxExemptionCode"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.purchaseOrder.isSuspended" for="field_isSuspended">IsSuspended</label>
            <input type="checkbox" class="form-control" name="isSuspended" id="field_isSuspended"
                    ng-model="purchaseOrder.isSuspended"
                     />
        </div>

        <div class="form-group">
            <label translate="bssuiteApp.purchaseOrder.supplier" for="field_supplier">supplier</label>
            <select class="form-control" id="field_supplier" name="supplier" ng-model="purchaseOrder.supplierId" ng-options="Supplier.id as Supplier.id for Supplier in suppliers">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.purchaseOrder.supplierContact" for="field_supplierContact">supplierContact</label>
            <select class="form-control" id="field_supplierContact" name="supplierContact" ng-model="purchaseOrder.supplierContactId" ng-options="contact.id as contact.id for contact in contacts">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.purchaseOrder.supplierDeliveryContact" for="field_supplierDeliveryContact">supplierDeliveryContact</label>
            <select class="form-control" id="field_supplierDeliveryContact" name="supplierDeliveryContact" ng-model="purchaseOrder.supplierDeliveryContactId" ng-options="contact.id as contact.id for contact in contacts">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.purchaseOrder.store" for="field_store">store</label>
            <select class="form-control" id="field_store" name="store" ng-model="purchaseOrder.storeId" ng-options="store.id as store.id for store in stores">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.purchaseOrder.salesOrder" for="field_salesOrder">salesOrder</label>
            <select class="form-control" id="field_salesOrder" name="salesOrder" ng-model="purchaseOrder.salesOrderId" ng-options="salesOrder.id as salesOrder.id for salesOrder in salesorders">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.purchaseOrder.updatedByStaff" for="field_updatedByStaff">updatedByStaff</label>
            <select class="form-control" id="field_updatedByStaff" name="updatedByStaff" ng-model="purchaseOrder.updatedByStaffId" ng-options="staff.id as staff.id for staff in staffs">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.purchaseOrder.createdBy" for="field_createdBy">createdBy</label>
            <select class="form-control" id="field_createdBy" name="createdBy" ng-model="purchaseOrder.createdById" ng-options="staff.id as staff.id for staff in staffs">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
