<div>
    <h2>PurchaseOrders</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="purchaseOrder.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new PurchaseOrder</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a PurchaseOrder</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletePurchaseOrderConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(purchaseOrder.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this PurchaseOrder?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>OrderNo</th>
                    <th>Status</th>
                    <th>CreatedDate</th>
                    <th>Ref</th>
                    <th>ExpectedDeliveryDate</th>
                    <th>IsTaxable</th>
                    <th>IsLocked</th>
                    <th>Comment</th>
                    <th>TaxAmount</th>
                    <th>Total</th>
                    <th>Cost</th>
                    <th>supplier</th>
                    <th>supplierContact</th>
                    <th>supplierDeliveryContact</th>
                    <th>store</th>
                    <th>salesOrder</th>
                    <th>updatedByStaff</th>
                    <th>createdBy</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="purchaseOrder in purchaseOrders track by purchaseOrder.id">
                    <td><a ui-sref="purchaseOrder.detail({id:purchaseOrder.id})">{{purchaseOrder.id}}</a></td>
                    <td>{{purchaseOrder.orderNo}}</td>
                    <td translate="{{'bssuiteApp.PurchaseOrderStatus.' + purchaseOrder.status}}">{{purchaseOrder.status}}</td>
                    <td>{{purchaseOrder.createdDate}}</td>
                    <td>{{purchaseOrder.ref}}</td>
                    <td>{{purchaseOrder.expectedDeliveryDate}}</td>
                    <td>{{purchaseOrder.isTaxable}}</td>
                    <td>{{purchaseOrder.isLocked}}</td>
                    <td>{{purchaseOrder.comment}}</td>
                    <td>{{purchaseOrder.taxAmount}}</td>
                    <td>{{purchaseOrder.total}}</td>
                    <td>{{purchaseOrder.cost}}</td>
                    <td>
                        <a ui-sref="Supplier.detail({id:purchaseOrder.supplierId})">{{purchaseOrder.supplierId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:purchaseOrder.supplierContactId})">{{purchaseOrder.supplierContactId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:purchaseOrder.supplierDeliveryContactId})">{{purchaseOrder.supplierDeliveryContactId}}</a>
                    </td>
                    <td>
                        <a ui-sref="store.detail({id:purchaseOrder.storeId})">{{purchaseOrder.storeId}}</a>
                    </td>
                    <td>
                        <a ui-sref="salesOrder.detail({id:purchaseOrder.salesOrderId})">{{purchaseOrder.salesOrderId}}</a>
                    </td>
                    <td>
                        <a ui-sref="staff.detail({id:purchaseOrder.updatedByStaffId})">{{purchaseOrder.updatedByStaffId}}</a>
                    </td>
                    <td>
                        <a ui-sref="staff.detail({id:purchaseOrder.createdById})">{{purchaseOrder.createdById}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="purchaseOrder.detail({id:purchaseOrder.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="purchaseOrder.edit({id:purchaseOrder.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(purchaseOrder.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
