<div>
    <h2>BackOrderLineItems</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="backOrderLineItem.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new BackOrderLineItem</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a BackOrderLineItem</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isReadyToRelease"><span>IsReadyToRelease</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtyAllocated"><span>QtyAllocated</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isMarkedForAutoPurchaseOrdering"><span>IsMarkedForAutoPurchaseOrdering</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isOnHold"><span>IsOnHold</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="allocatedDate"><span>AllocatedDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="comment"><span>Comment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isPicked"><span>IsPicked</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isMarked"><span>IsMarked</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="salesOrderLineItemId"><span>salesOrderLineItem</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="backOrderLineItem in backOrderLineItems track by backOrderLineItem.id">
                    <td><a ui-sref="backOrderLineItem.detail({id:backOrderLineItem.id})">{{backOrderLineItem.id}}</a></td>
                    <td>{{backOrderLineItem.isReadyToRelease}}</td>
                    <td>{{backOrderLineItem.qtyAllocated}}</td>
                    <td>{{backOrderLineItem.isMarkedForAutoPurchaseOrdering}}</td>
                    <td>{{backOrderLineItem.isOnHold}}</td>
                    <td>{{backOrderLineItem.allocatedDate | date:'medium'}}</td>
                    <td>{{backOrderLineItem.comment}}</td>
                    <td>{{backOrderLineItem.isPicked}}</td>
                    <td>{{backOrderLineItem.isMarked}}</td>
                    <td>
                        <a ui-sref="salesOrderLineItem.detail({id:backOrderLineItem.salesOrderLineItemId})">{{backOrderLineItem.salesOrderLineItemId}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="backOrderLineItem.detail({id:backOrderLineItem.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="backOrderLineItem.edit({id:backOrderLineItem.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="backOrderLineItem.delete({id:backOrderLineItem.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
