
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myStoreLabel" translate="bssuiteApp.store.home.createOrEditLabel">Create or edit a Store</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="store.id" readonly />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.store.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="store.code"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.store.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="store.name"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.store.address1" for="field_address1">Address1</label>
            <input type="text" class="form-control" name="address1" id="field_address1"
                    ng-model="store.address1"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.store.address2" for="field_address2">Address2</label>
            <input type="text" class="form-control" name="address2" id="field_address2"
                    ng-model="store.address2"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.store.suburb" for="field_suburb">Suburb</label>
            <input type="text" class="form-control" name="suburb" id="field_suburb"
                    ng-model="store.suburb"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.store.state" for="field_state">State</label>
            <input type="text" class="form-control" name="state" id="field_state"
                    ng-model="store.state"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.store.postcode" for="field_postcode">Postcode</label>
            <input type="text" class="form-control" name="postcode" id="field_postcode"
                    ng-model="store.postcode"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.store.country" for="field_country">Country</label>
            <input type="text" class="form-control" name="country" id="field_country"
                    ng-model="store.country"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.store.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                    ng-model="store.phone"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.store.fax" for="field_fax">Fax</label>
            <input type="text" class="form-control" name="fax" id="field_fax"
                    ng-model="store.fax"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.store.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="store.email"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.store.webUrl" for="field_webUrl">WebUrl</label>
            <input type="text" class="form-control" name="webUrl" id="field_webUrl"
                    ng-model="store.webUrl"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.store.inBusinessSince" for="field_inBusinessSince">InBusinessSince</label>
            <input type="date" class="form-control" name="inBusinessSince" id="field_inBusinessSince"
                    ng-model="store.inBusinessSince"
                     />
        </div>
        <div class="form-group">
            <label translate="bssuiteApp.store.isArchived" for="field_isArchived">IsArchived</label>
            <input type="checkbox" class="form-control" name="isArchived" id="field_isArchived"
                    ng-model="store.isArchived"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
