
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="mySupplierLabel">Create or edit a Supplier</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="supplier.id" readonly />
        </div>
        <div class="form-group">
            <label for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="supplier.code"
                    required />
            <div ng-show="editForm.code.$invalid">
                <p class="help-block"
                    ng-show="editForm.code.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="supplier.name"
                     />
        </div>
        <div class="form-group">
            <label for="field_webUrl">WebUrl</label>
            <input type="text" class="form-control" name="webUrl" id="field_webUrl"
                    ng-model="supplier.webUrl"
                     />
        </div>
        <div class="form-group">
            <label for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                    ng-model="supplier.comment"
                     />
        </div>
        <div class="form-group">
            <label for="field_isOnHold">IsOnHold</label>
            <input type="checkbox" class="form-control" name="isOnHold" id="field_isOnHold"
                    ng-model="supplier.isOnHold"
                     />
        </div>
        <div class="form-group">
            <label for="field_isHeadOffice">IsHeadOffice</label>
            <input type="checkbox" class="form-control" name="isHeadOffice" id="field_isHeadOffice"
                    ng-model="supplier.isHeadOffice"
                     />
        </div>
        <div class="form-group">
            <label for="field_leadTime">LeadTime</label>
            <input type="number" class="form-control" name="leadTime" id="field_leadTime"
                    ng-model="supplier.leadTime"
                     />
        </div>
        <div class="form-group">
            <label for="field_accountType">AccountType</label>
            <select class="form-control" name="accountType" ng-model="supplier.accountType" id="field_accountType">
                <option value="STANDARD">STANDARD</option>
                <option value="INTERNAL">INTERNAL</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_settlementTerms">SettlementTerms</label>
            <input type="number" class="form-control" name="settlementTerms" id="field_settlementTerms"
                    ng-model="supplier.settlementTerms"
                     />
        </div>
        <div class="form-group">
            <label for="field_credit">Credit</label>
            <input type="number" class="form-control" name="credit" id="field_credit"
                    ng-model="supplier.credit"
                     />
        </div>
        <div class="form-group">
            <label for="field_terms">Terms</label>
            <input type="number" class="form-control" name="terms" id="field_terms"
                    ng-model="supplier.terms"
                     />
        </div>
        <div class="form-group">
            <label for="field_ageingMethod">AgeingMethod</label>
            <select class="form-control" name="ageingMethod" ng-model="supplier.ageingMethod" id="field_ageingMethod">
                <option value="MONTH">MONTH</option>
                <option value="TERMS">TERMS</option>
                <option value="DUEDATES">DUEDATES</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_isEFTPaymentsUsed">IsEFTPaymentsUsed</label>
            <input type="checkbox" class="form-control" name="isEFTPaymentsUsed" id="field_isEFTPaymentsUsed"
                    ng-model="supplier.isEFTPaymentsUsed"
                     />
        </div>
        <div class="form-group">
            <label for="field_bankBSB">BankBSB</label>
            <input type="text" class="form-control" name="bankBSB" id="field_bankBSB"
                    ng-model="supplier.bankBSB"
                     />
        </div>
        <div class="form-group">
            <label for="field_bankNumber">BankNumber</label>
            <input type="text" class="form-control" name="bankNumber" id="field_bankNumber"
                    ng-model="supplier.bankNumber"
                     />
        </div>
        <div class="form-group">
            <label for="field_bankAccount">BankAccount</label>
            <input type="text" class="form-control" name="bankAccount" id="field_bankAccount"
                    ng-model="supplier.bankAccount"
                     />
        </div>

        <div class="form-group">
            <label for="field_supplierCategory">supplierCategory</label>
            <select class="form-control" id="field_supplierCategory" name="supplierCategory" ng-model="supplier.supplierCategoryId" ng-options="supplierCategory.id as supplierCategory.id for supplierCategory in suppliercategorys">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_contact">contact</label>
            <select class="form-control" id="field_contact" name="contact" ng-model="supplier.contactId" ng-options="contact.id as contact.id for contact in contacts | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
