<div>
    <h2>Suppliers</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="supplier.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Supplier</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Supplier</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteSupplierConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(supplier.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this Supplier?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>WebUrl</th>
                    <th>Comment</th>
                    <th>IsOnHold</th>
                    <th>IsHeadOffice</th>
                    <th>LeadTime</th>
                    <th>AccountType</th>
                    <th>SettlementTerms</th>
                    <th>Credit</th>
                    <th>Terms</th>
                    <th>AgeingMethod</th>
                    <th>IsEFTPaymentsUsed</th>
                    <th>BankBSB</th>
                    <th>BankNumber</th>
                    <th>BankAccount</th>
                    <th>supplierCategory</th>
                    <th>contact</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="supplier in suppliers track by supplier.id">
                    <td><a ui-sref="supplier.detail({id:supplier.id})">{{supplier.id}}</a></td>
                    <td>{{supplier.code}}</td>
                    <td>{{supplier.name}}</td>
                    <td>{{supplier.webUrl}}</td>
                    <td>{{supplier.comment}}</td>
                    <td>{{supplier.isOnHold}}</td>
                    <td>{{supplier.isHeadOffice}}</td>
                    <td>{{supplier.leadTime}}</td>
                    <td translate="{{'bssuiteApp.SupplierAccountType.' + supplier.accountType}}">{{supplier.accountType}}</td>
                    <td>{{supplier.settlementTerms}}</td>
                    <td>{{supplier.credit}}</td>
                    <td>{{supplier.terms}}</td>
                    <td translate="{{'bssuiteApp.SupplierAgeingMethod.' + supplier.ageingMethod}}">{{supplier.ageingMethod}}</td>
                    <td>{{supplier.isEFTPaymentsUsed}}</td>
                    <td>{{supplier.bankBSB}}</td>
                    <td>{{supplier.bankNumber}}</td>
                    <td>{{supplier.bankAccount}}</td>
                    <td>
                        <a ui-sref="supplierCategory.detail({id:supplier.supplierCategoryId})">{{supplier.supplierCategoryId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:supplier.contactId})">{{supplier.contactId}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="supplier.detail({id:supplier.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="supplier.edit({id:supplier.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(supplier.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
