<div>
    <h2>Suppliers</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="supplier.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Supplier</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Supplier</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="code"><span>Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="webUrl"><span>WebUrl</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="comment"><span>Comment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isOnHold"><span>IsOnHold</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isHeadOffice"><span>IsHeadOffice</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="leadTime"><span>LeadTime</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="accountType"><span>AccountType</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="settlementTerms"><span>SettlementTerms</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="credit"><span>Credit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="terms"><span>Terms</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ageingMethod"><span>AgeingMethod</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isEFTPaymentsUsed"><span>IsEFTPaymentsUsed</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bankBSB"><span>BankBSB</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bankNumber"><span>BankNumber</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bankAccount"><span>BankAccount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="supplierCategoryId"><span>supplierCategory</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contactId"><span>contact</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="supplier in suppliers track by supplier.id">
                    <td><a ui-sref="supplier.detail({id:supplier.id})">{{supplier.id}}</a></td>
                    <td>{{supplier.code}}</td>
                    <td>{{supplier.name}}</td>
                    <td>{{supplier.webUrl}}</td>
                    <td>{{supplier.comment}}</td>
                    <td>{{supplier.isOnHold}}</td>
                    <td>{{supplier.isHeadOffice}}</td>
                    <td>{{supplier.leadTime}}</td>
                    <td translate="{{'bssuiteApp.SupplierAccountType.' + supplier.accountType}}">{{supplier.accountType}}</td>
                    <td>{{supplier.settlementTerms}}</td>
                    <td>{{supplier.credit}}</td>
                    <td>{{supplier.terms}}</td>
                    <td translate="{{'bssuiteApp.SupplierAgeingMethod.' + supplier.ageingMethod}}">{{supplier.ageingMethod}}</td>
                    <td>{{supplier.isEFTPaymentsUsed}}</td>
                    <td>{{supplier.bankBSB}}</td>
                    <td>{{supplier.bankNumber}}</td>
                    <td>{{supplier.bankAccount}}</td>
                    <td>
                        <a ui-sref="supplierCategory.detail({id:supplier.supplierCategoryId})">{{supplier.supplierCategoryId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:supplier.contactId})">{{supplier.contactId}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="supplier.detail({id:supplier.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="supplier.edit({id:supplier.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="supplier.delete({id:supplier.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
