<div>
    <h2>RelatedProducts</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="relatedProduct.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new RelatedProduct</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a RelatedProduct</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>IsSuggested</th>
                    <th>Comment</th>
                    <th>product</th>
                    <th>equivalentProduct</th>
                    <th>relationCategory</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="relatedProduct in relatedProducts track by relatedProduct.id">
                    <td><a ui-sref="relatedProduct.detail({id:relatedProduct.id})">{{relatedProduct.id}}</a></td>
                    <td>{{relatedProduct.isSuggested}}</td>
                    <td>{{relatedProduct.comment}}</td>
                    <td>
                        <a ui-sref="product.detail({id:relatedProduct.productId})">{{relatedProduct.productId}}</a>
                    </td>
                    <td>
                        <a ui-sref="product.detail({id:relatedProduct.equivalentProductId})">{{relatedProduct.equivalentProductId}}</a>
                    </td>
                    <td>
                        <a ui-sref="productRelationCategory.detail({id:relatedProduct.relationCategoryId})">{{relatedProduct.relationCategoryId}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="relatedProduct.detail({id:relatedProduct.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="relatedProduct.edit({id:relatedProduct.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="relatedProduct.delete({id:relatedProduct.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
