<div>
    <h2>SalesOrders</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="salesOrder.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new SalesOrder</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a SalesOrder</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteSalesOrderConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(salesOrder.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this SalesOrder?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>OrderNo</th>
                    <th>Status</th>
                    <th>TxnDate</th>
                    <th>ForwardDate</th>
                    <th>RequiredDate</th>
                    <th>CustomerOrderNo</th>
                    <th>OurRef</th>
                    <th>Freight</th>
                    <th>HandlingCharge</th>
                    <th>Charge2</th>
                    <th>IsTaxable</th>
                    <th>IsLocked</th>
                    <th>AdjustTax</th>
                    <th>AdjustTaxExempt</th>
                    <th>Prepayment</th>
                    <th>PrepaymentNo</th>
                    <th>Comment</th>
                    <th>TotalTaxAmount</th>
                    <th>TotalSellPrice</th>
                    <th>TotalCost</th>
                    <th>IsSuspended</th>
                    <th>customer</th>
                    <th>contact</th>
                    <th>deliveryContact</th>
                    <th>store</th>
                    <th>carrier</th>
                    <th>salesperson</th>
                    <th>promotion</th>
                    <th>createdBy</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="salesOrder in salesOrders track by salesOrder.id">
                    <td><a ui-sref="salesOrder.detail({id:salesOrder.id})">{{salesOrder.id}}</a></td>
                    <td>{{salesOrder.orderNo}}</td>
                    <td translate="{{'bssuiteApp.SalesOrderStatus.' + salesOrder.status}}">{{salesOrder.status}}</td>
                    <td>{{salesOrder.txnDate}}</td>
                    <td>{{salesOrder.forwardDate}}</td>
                    <td>{{salesOrder.requiredDate}}</td>
                    <td>{{salesOrder.customerOrderNo}}</td>
                    <td>{{salesOrder.ourRef}}</td>
                    <td>{{salesOrder.freight}}</td>
                    <td>{{salesOrder.handlingCharge}}</td>
                    <td>{{salesOrder.charge2}}</td>
                    <td>{{salesOrder.isTaxable}}</td>
                    <td>{{salesOrder.isLocked}}</td>
                    <td>{{salesOrder.adjustTax}}</td>
                    <td>{{salesOrder.adjustTaxExempt}}</td>
                    <td>{{salesOrder.prepayment}}</td>
                    <td>{{salesOrder.prepaymentNo}}</td>
                    <td>{{salesOrder.comment}}</td>
                    <td>{{salesOrder.totalTaxAmount}}</td>
                    <td>{{salesOrder.totalSellPrice}}</td>
                    <td>{{salesOrder.totalCost}}</td>
                    <td>{{salesOrder.isSuspended}}</td>
                    <td>
                        <a ui-sref="customer.detail({id:salesOrder.customerId})">{{salesOrder.customerId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:salesOrder.contactId})">{{salesOrder.contactId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:salesOrder.deliveryContactId})">{{salesOrder.deliveryContactId}}</a>
                    </td>
                    <td>
                        <a ui-sref="store.detail({id:salesOrder.storeId})">{{salesOrder.storeId}}</a>
                    </td>
                    <td>
                        <a ui-sref="carrier.detail({id:salesOrder.carrierId})">{{salesOrder.carrierId}}</a>
                    </td>
                    <td>
                        <a ui-sref="staff.detail({id:salesOrder.salespersonId})">{{salesOrder.salespersonId}}</a>
                    </td>
                    <td>
                        <a ui-sref="promotion.detail({id:salesOrder.promotionId})">{{salesOrder.promotionId}}</a>
                    </td>
                    <td>
                        <a ui-sref="staff.detail({id:salesOrder.createdById})">{{salesOrder.createdById}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="salesOrder.detail({id:salesOrder.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="salesOrder.edit({id:salesOrder.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(salesOrder.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
