<div>
    <h2>SalesOrders</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="salesOrder.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new SalesOrder</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a SalesOrder</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="orderNo"><span>OrderNo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span>Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="txnDate"><span>TxnDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="forwardDate"><span>ForwardDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="requiredDate"><span>RequiredDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="customerOrderNo"><span>CustomerOrderNo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ourRef"><span>OurRef</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="freight"><span>Freight</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="handlingCharge"><span>HandlingCharge</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="charge2"><span>Charge2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isTaxable"><span>IsTaxable</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isLocked"><span>IsLocked</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="adjustTax"><span>AdjustTax</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="adjustTaxExempt"><span>AdjustTaxExempt</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="prepayment"><span>Prepayment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="prepaymentNo"><span>PrepaymentNo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="comment"><span>Comment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="totalTaxAmount"><span>TotalTaxAmount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="totalSellPrice"><span>TotalSellPrice</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="totalCost"><span>TotalCost</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isSuspended"><span>IsSuspended</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="customerId"><span>customer</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contactId"><span>contact</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="deliveryContactId"><span>deliveryContact</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="storeId"><span>store</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="carrierId"><span>carrier</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="salespersonId"><span>salesperson</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="promotionId"><span>promotion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdById"><span>createdBy</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="salesOrder in salesOrders track by salesOrder.id">
                    <td><a ui-sref="salesOrder.detail({id:salesOrder.id})">{{salesOrder.id}}</a></td>
                    <td>{{salesOrder.orderNo}}</td>
                    <td translate="{{'bssuiteApp.SalesOrderStatus.' + salesOrder.status}}">{{salesOrder.status}}</td>
                    <td>{{salesOrder.txnDate | date:'medium'}}</td>
                        <td>{{salesOrder.forwardDate | date:'mediumDate'}}</td>
                        <td>{{salesOrder.requiredDate | date:'mediumDate'}}</td>
                    <td>{{salesOrder.customerOrderNo}}</td>
                    <td>{{salesOrder.ourRef}}</td>
                    <td>{{salesOrder.freight}}</td>
                    <td>{{salesOrder.handlingCharge}}</td>
                    <td>{{salesOrder.charge2}}</td>
                    <td>{{salesOrder.isTaxable}}</td>
                    <td>{{salesOrder.isLocked}}</td>
                    <td>{{salesOrder.adjustTax}}</td>
                    <td>{{salesOrder.adjustTaxExempt}}</td>
                    <td>{{salesOrder.prepayment}}</td>
                    <td>{{salesOrder.prepaymentNo}}</td>
                    <td>{{salesOrder.comment}}</td>
                    <td>{{salesOrder.totalTaxAmount}}</td>
                    <td>{{salesOrder.totalSellPrice}}</td>
                    <td>{{salesOrder.totalCost}}</td>
                    <td>{{salesOrder.isSuspended}}</td>
                    <td>
                        <a ui-sref="customer.detail({id:salesOrder.customerId})">{{salesOrder.customerId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:salesOrder.contactId})">{{salesOrder.contactId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:salesOrder.deliveryContactId})">{{salesOrder.deliveryContactId}}</a>
                    </td>
                    <td>
                        <a ui-sref="store.detail({id:salesOrder.storeId})">{{salesOrder.storeId}}</a>
                    </td>
                    <td>
                        <a ui-sref="carrier.detail({id:salesOrder.carrierId})">{{salesOrder.carrierId}}</a>
                    </td>
                    <td>
                        <a ui-sref="staff.detail({id:salesOrder.salespersonId})">{{salesOrder.salespersonId}}</a>
                    </td>
                    <td>
                        <a ui-sref="promotion.detail({id:salesOrder.promotionId})">{{salesOrder.promotionId}}</a>
                    </td>
                    <td>
                        <a ui-sref="staff.detail({id:salesOrder.createdById})">{{salesOrder.createdById}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="salesOrder.detail({id:salesOrder.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="salesOrder.edit({id:salesOrder.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="salesOrder.delete({id:salesOrder.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
