<div>
    <h2>Customers</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="customer.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Customer</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Customer</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="code"><span>Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tradingName"><span>TradingName</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="abn"><span>Abn</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="deliveryInstruction"><span>DeliveryInstruction</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="webUrl"><span>WebUrl</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isOnHold"><span>IsOnHold</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isOrderNoRequired"><span>IsOrderNoRequired</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isBlacklisted"><span>IsBlacklisted</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isBackorderAllowed"><span>IsBackorderAllowed</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isArchived"><span>IsArchived</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isHeadOfficeAccount"><span>IsHeadOfficeAccount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ageingMethod"><span>AgeingMethod</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isWebaccessAllowed"><span>IsWebaccessAllowed</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bankName"><span>BankName</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bsb"><span>Bsb</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bankAccountNo"><span>BankAccountNo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bankSuburb"><span>BankSuburb</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bankAccountName"><span>BankAccountName</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isCreditCardBillingActive"><span>IsCreditCardBillingActive</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="creditCardNo"><span>CreditCardNo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="creditCardHolderName"><span>CreditCardHolderName</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="creditCardExpiryDate"><span>CreditCardExpiryDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="creditCardType"><span>CreditCardType</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="accountType"><span>AccountType</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="creditAmount"><span>CreditAmount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="terms"><span>Terms</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="settlementTerms"><span>SettlementTerms</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="invoiceDeliveryMethod"><span>InvoiceDeliveryMethod</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="statementDeliveryMethod"><span>StatementDeliveryMethod</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="invoiceEmailAddress"><span>InvoiceEmailAddress</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="invoiceFaxNo"><span>InvoiceFaxNo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="statementEmailAddress"><span>StatementEmailAddress</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="statementFaxNo"><span>StatementFaxNo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isPenaltyIssued"><span>IsPenaltyIssued</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="customerCategoryId"><span>customerCategory</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contactId"><span>contact</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="deliveryContactId"><span>deliveryContact</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="salesPrimaryContactId"><span>salesPrimaryContact</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="salesSecondaryContactId"><span>salesSecondaryContact</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="accountPrimaryContactId"><span>accountPrimaryContact</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="accountSecondaryContactId"><span>accountSecondaryContact</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="repId"><span>rep</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="centralBillingAccountId"><span>centralBillingAccount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="storeId"><span>store</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="customer in customers track by customer.id">
                    <td><a ui-sref="customer.detail({id:customer.id})">{{customer.id}}</a></td>
                    <td>{{customer.code}}</td>
                    <td>{{customer.name}}</td>
                    <td>{{customer.tradingName}}</td>
                    <td>{{customer.abn}}</td>
                    <td>{{customer.deliveryInstruction}}</td>
                    <td>{{customer.webUrl}}</td>
                    <td>{{customer.isOnHold}}</td>
                    <td>{{customer.isOrderNoRequired}}</td>
                    <td>{{customer.isBlacklisted}}</td>
                    <td>{{customer.isBackorderAllowed}}</td>
                    <td>{{customer.isArchived}}</td>
                    <td>{{customer.isHeadOfficeAccount}}</td>
                    <td translate="{{'bssuiteApp.CustomerAgeingMethod.' + customer.ageingMethod}}">{{customer.ageingMethod}}</td>
                    <td>{{customer.isWebaccessAllowed}}</td>
                    <td>{{customer.bankName}}</td>
                    <td>{{customer.bsb}}</td>
                    <td>{{customer.bankAccountNo}}</td>
                    <td>{{customer.bankSuburb}}</td>
                    <td>{{customer.bankAccountName}}</td>
                    <td>{{customer.isCreditCardBillingActive}}</td>
                    <td>{{customer.creditCardNo}}</td>
                    <td>{{customer.creditCardHolderName}}</td>
                        <td>{{customer.creditCardExpiryDate | date:'mediumDate'}}</td>
                    <td translate="{{'bssuiteApp.CreditCardType.' + customer.creditCardType}}">{{customer.creditCardType}}</td>
                    <td translate="{{'bssuiteApp.CustomerAccountType.' + customer.accountType}}">{{customer.accountType}}</td>
                    <td>{{customer.creditAmount}}</td>
                    <td>{{customer.terms}}</td>
                    <td>{{customer.settlementTerms}}</td>
                    <td translate="{{'bssuiteApp.CustomerInvoiceDeliveryMethod.' + customer.invoiceDeliveryMethod}}">{{customer.invoiceDeliveryMethod}}</td>
                    <td translate="{{'bssuiteApp.CustomerStatementDeliveryMethod.' + customer.statementDeliveryMethod}}">{{customer.statementDeliveryMethod}}</td>
                    <td>{{customer.invoiceEmailAddress}}</td>
                    <td>{{customer.invoiceFaxNo}}</td>
                    <td>{{customer.statementEmailAddress}}</td>
                    <td>{{customer.statementFaxNo}}</td>
                    <td>{{customer.isPenaltyIssued}}</td>
                    <td>
                        <a ui-sref="customerCategory.detail({id:customer.customerCategoryId})">{{customer.customerCategoryId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:customer.contactId})">{{customer.contactId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:customer.deliveryContactId})">{{customer.deliveryContactId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:customer.salesPrimaryContactId})">{{customer.salesPrimaryContactId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:customer.salesSecondaryContactId})">{{customer.salesSecondaryContactId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:customer.accountPrimaryContactId})">{{customer.accountPrimaryContactId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:customer.accountSecondaryContactId})">{{customer.accountSecondaryContactId}}</a>
                    </td>
                    <td>
                        <a ui-sref="staff.detail({id:customer.repId})">{{customer.repId}}</a>
                    </td>
                    <td>
                        <a ui-sref="customer.detail({id:customer.centralBillingAccountId})">{{customer.centralBillingAccountId}}</a>
                    </td>
                    <td>
                        <a ui-sref="store.detail({id:customer.storeId})">{{customer.storeId}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="customer.detail({id:customer.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="customer.edit({id:customer.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="customer.delete({id:customer.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
