
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCustomerLabel">Create or edit a Customer</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="customer.id" readonly />
        </div>
        <div class="form-group">
            <label for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="customer.code"
                    required ng-minlength="2" />
            <div ng-show="editForm.code.$invalid">
                <p class="help-block"
                    ng-show="editForm.code.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.code.$error.minlength" translate-value-min="2">
                    This field is required to be at least 2 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="customer.name"
                     />
        </div>
        <div class="form-group">
            <label for="field_tradingName">TradingName</label>
            <input type="text" class="form-control" name="tradingName" id="field_tradingName"
                    ng-model="customer.tradingName"
                     />
        </div>
        <div class="form-group">
            <label for="field_abn">Abn</label>
            <input type="text" class="form-control" name="abn" id="field_abn"
                    ng-model="customer.abn"
                     />
        </div>
        <div class="form-group">
            <label for="field_deliveryInstruction">DeliveryInstruction</label>
            <input type="text" class="form-control" name="deliveryInstruction" id="field_deliveryInstruction"
                    ng-model="customer.deliveryInstruction"
                     />
        </div>
        <div class="form-group">
            <label for="field_webUrl">WebUrl</label>
            <input type="text" class="form-control" name="webUrl" id="field_webUrl"
                    ng-model="customer.webUrl"
                     />
        </div>
        <div class="form-group">
            <label for="field_isOnHold">IsOnHold</label>
            <input type="checkbox" class="form-control" name="isOnHold" id="field_isOnHold"
                    ng-model="customer.isOnHold"
                     />
        </div>
        <div class="form-group">
            <label for="field_isOrderNoRequired">IsOrderNoRequired</label>
            <input type="checkbox" class="form-control" name="isOrderNoRequired" id="field_isOrderNoRequired"
                    ng-model="customer.isOrderNoRequired"
                     />
        </div>
        <div class="form-group">
            <label for="field_isBlacklisted">IsBlacklisted</label>
            <input type="checkbox" class="form-control" name="isBlacklisted" id="field_isBlacklisted"
                    ng-model="customer.isBlacklisted"
                     />
        </div>
        <div class="form-group">
            <label for="field_isBackorderAllowed">IsBackorderAllowed</label>
            <input type="checkbox" class="form-control" name="isBackorderAllowed" id="field_isBackorderAllowed"
                    ng-model="customer.isBackorderAllowed"
                     />
        </div>
        <div class="form-group">
            <label for="field_isArchived">IsArchived</label>
            <input type="checkbox" class="form-control" name="isArchived" id="field_isArchived"
                    ng-model="customer.isArchived"
                     />
        </div>
        <div class="form-group">
            <label for="field_isHeadOfficeAccount">IsHeadOfficeAccount</label>
            <input type="checkbox" class="form-control" name="isHeadOfficeAccount" id="field_isHeadOfficeAccount"
                    ng-model="customer.isHeadOfficeAccount"
                     />
        </div>
        <div class="form-group">
            <label for="field_ageingMethod">AgeingMethod</label>
            <select class="form-control" name="ageingMethod" ng-model="customer.ageingMethod" id="field_ageingMethod">
                <option value="MONTH">MONTH</option>
                <option value="TERMS">TERMS</option>
                <option value="DUEDATES">DUEDATES</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_isWebaccessAllowed">IsWebaccessAllowed</label>
            <input type="checkbox" class="form-control" name="isWebaccessAllowed" id="field_isWebaccessAllowed"
                    ng-model="customer.isWebaccessAllowed"
                     />
        </div>
        <div class="form-group">
            <label for="field_bankName">BankName</label>
            <input type="text" class="form-control" name="bankName" id="field_bankName"
                    ng-model="customer.bankName"
                     />
        </div>
        <div class="form-group">
            <label for="field_bsb">Bsb</label>
            <input type="text" class="form-control" name="bsb" id="field_bsb"
                    ng-model="customer.bsb"
                     />
        </div>
        <div class="form-group">
            <label for="field_bankAccountNo">BankAccountNo</label>
            <input type="text" class="form-control" name="bankAccountNo" id="field_bankAccountNo"
                    ng-model="customer.bankAccountNo"
                     />
        </div>
        <div class="form-group">
            <label for="field_bankSuburb">BankSuburb</label>
            <input type="text" class="form-control" name="bankSuburb" id="field_bankSuburb"
                    ng-model="customer.bankSuburb"
                     />
        </div>
        <div class="form-group">
            <label for="field_bankAccountName">BankAccountName</label>
            <input type="text" class="form-control" name="bankAccountName" id="field_bankAccountName"
                    ng-model="customer.bankAccountName"
                     />
        </div>
        <div class="form-group">
            <label for="field_isCreditCardBillingActive">IsCreditCardBillingActive</label>
            <input type="checkbox" class="form-control" name="isCreditCardBillingActive" id="field_isCreditCardBillingActive"
                    ng-model="customer.isCreditCardBillingActive"
                     />
        </div>
        <div class="form-group">
            <label for="field_creditCardNo">CreditCardNo</label>
            <input type="text" class="form-control" name="creditCardNo" id="field_creditCardNo"
                    ng-model="customer.creditCardNo"
                     />
        </div>
        <div class="form-group">
            <label for="field_creditCardHolderName">CreditCardHolderName</label>
            <input type="text" class="form-control" name="creditCardHolderName" id="field_creditCardHolderName"
                    ng-model="customer.creditCardHolderName"
                     />
        </div>
        <div class="form-group">
            <label for="field_creditCardExpiryDate">CreditCardExpiryDate</label>
            <input type="date" class="form-control" name="creditCardExpiryDate" id="field_creditCardExpiryDate"
                    ng-model="customer.creditCardExpiryDate"
                     />
        </div>
        <div class="form-group">
            <label for="field_creditCardType">CreditCardType</label>
            <select class="form-control" name="creditCardType" ng-model="customer.creditCardType" id="field_creditCardType">
                <option value="VISA">VISA</option>
                <option value="AMX">AMX</option>
                <option value="MASTER">MASTER</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_accountType">AccountType</label>
            <select class="form-control" name="accountType" ng-model="customer.accountType" id="field_accountType">
                <option value="STANDARD">STANDARD</option>
                <option value="INTERNAL">INTERNAL</option>
                <option value="CASH">CASH</option>
                <option value="CREDITCARD">CREDITCARD</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_creditAmount">CreditAmount</label>
            <input type="number" class="form-control" name="creditAmount" id="field_creditAmount"
                    ng-model="customer.creditAmount"
                     />
        </div>
        <div class="form-group">
            <label for="field_terms">Terms</label>
            <input type="number" class="form-control" name="terms" id="field_terms"
                    ng-model="customer.terms"
                     />
        </div>
        <div class="form-group">
            <label for="field_settlementTerms">SettlementTerms</label>
            <input type="number" class="form-control" name="settlementTerms" id="field_settlementTerms"
                    ng-model="customer.settlementTerms"
                     />
        </div>
        <div class="form-group">
            <label for="field_invoiceDeliveryMethod">InvoiceDeliveryMethod</label>
            <select class="form-control" name="invoiceDeliveryMethod" ng-model="customer.invoiceDeliveryMethod" id="field_invoiceDeliveryMethod">
                <option value="EMAIL">EMAIL</option>
                <option value="FAX">FAX</option>
                <option value="POST">POST</option>
                <option value="PRINT">PRINT</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_statementDeliveryMethod">StatementDeliveryMethod</label>
            <select class="form-control" name="statementDeliveryMethod" ng-model="customer.statementDeliveryMethod" id="field_statementDeliveryMethod">
                <option value="EMAIL">EMAIL</option>
                <option value="FAX">FAX</option>
                <option value="POST">POST</option>
                <option value="PRINT">PRINT</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_invoiceEmailAddress">InvoiceEmailAddress</label>
            <input type="text" class="form-control" name="invoiceEmailAddress" id="field_invoiceEmailAddress"
                    ng-model="customer.invoiceEmailAddress"
                     />
        </div>
        <div class="form-group">
            <label for="field_invoiceFaxNo">InvoiceFaxNo</label>
            <input type="text" class="form-control" name="invoiceFaxNo" id="field_invoiceFaxNo"
                    ng-model="customer.invoiceFaxNo"
                     />
        </div>
        <div class="form-group">
            <label for="field_statementEmailAddress">StatementEmailAddress</label>
            <input type="text" class="form-control" name="statementEmailAddress" id="field_statementEmailAddress"
                    ng-model="customer.statementEmailAddress"
                     />
        </div>
        <div class="form-group">
            <label for="field_statementFaxNo">StatementFaxNo</label>
            <input type="text" class="form-control" name="statementFaxNo" id="field_statementFaxNo"
                    ng-model="customer.statementFaxNo"
                     />
        </div>
        <div class="form-group">
            <label for="field_isPenaltyIssued">IsPenaltyIssued</label>
            <input type="checkbox" class="form-control" name="isPenaltyIssued" id="field_isPenaltyIssued"
                    ng-model="customer.isPenaltyIssued"
                     />
        </div>

        <div class="form-group">
            <label for="field_customerCategory">customerCategory</label>
            <select class="form-control" id="field_customerCategory" name="customerCategory" ng-model="customer.customerCategoryId" ng-options="customerCategory.id as customerCategory.id for customerCategory in customercategorys">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_contact">contact</label>
            <select class="form-control" id="field_contact" name="contact" ng-model="customer.contactId" ng-options="contact.id as contact.id for contact in contacts">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_deliveryContact">deliveryContact</label>
            <select class="form-control" id="field_deliveryContact" name="deliveryContact" ng-model="customer.deliveryContactId" ng-options="contact.id as contact.id for contact in contacts">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_salesPrimaryContact">salesPrimaryContact</label>
            <select class="form-control" id="field_salesPrimaryContact" name="salesPrimaryContact" ng-model="customer.salesPrimaryContactId" ng-options="contact.id as contact.id for contact in contacts">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_salesSecondaryContact">salesSecondaryContact</label>
            <select class="form-control" id="field_salesSecondaryContact" name="salesSecondaryContact" ng-model="customer.salesSecondaryContactId" ng-options="contact.id as contact.id for contact in contacts">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_accountPrimaryContact">accountPrimaryContact</label>
            <select class="form-control" id="field_accountPrimaryContact" name="accountPrimaryContact" ng-model="customer.accountPrimaryContactId" ng-options="contact.id as contact.id for contact in contacts">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_accountSecondaryContact">accountSecondaryContact</label>
            <select class="form-control" id="field_accountSecondaryContact" name="accountSecondaryContact" ng-model="customer.accountSecondaryContactId" ng-options="contact.id as contact.id for contact in contacts">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_rep">rep</label>
            <select class="form-control" id="field_rep" name="rep" ng-model="customer.repId" ng-options="staff.id as staff.id for staff in staffs">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_centralBillingAccount">centralBillingAccount</label>
            <select class="form-control" id="field_centralBillingAccount" name="centralBillingAccount" ng-model="customer.centralBillingAccountId" ng-options="customer.id as customer.id for customer in customers">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_store">store</label>
            <select class="form-control" id="field_store" name="store" ng-model="customer.storeId" ng-options="store.id as store.id for store in stores">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
