<div>
    <h2>Customers</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="customer.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Customer</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Customer</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteCustomerConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(customer.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this Customer?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>TradingName</th>
                    <th>Abn</th>
                    <th>DeliveryInstruction</th>
                    <th>WebUrl</th>
                    <th>IsOnHold</th>
                    <th>IsOrderNoRequired</th>
                    <th>IsBlacklisted</th>
                    <th>IsBackorderAllowed</th>
                    <th>IsArchived</th>
                    <th>IsHeadOfficeAccount</th>
                    <th>AgeingMethod</th>
                    <th>IsWebaccessAllowed</th>
                    <th>BankName</th>
                    <th>Bsb</th>
                    <th>BankAccountNo</th>
                    <th>BankSuburb</th>
                    <th>BankAccountName</th>
                    <th>IsCreditCardBillingActive</th>
                    <th>CreditCardNo</th>
                    <th>CreditCardHolderName</th>
                    <th>CreditCardExpiryDate</th>
                    <th>CreditCardType</th>
                    <th>AccountType</th>
                    <th>CreditAmount</th>
                    <th>Terms</th>
                    <th>SettlementTerms</th>
                    <th>InvoiceDeliveryMethod</th>
                    <th>StatementDeliveryMethod</th>
                    <th>InvoiceEmailAddress</th>
                    <th>InvoiceFaxNo</th>
                    <th>StatementEmailAddress</th>
                    <th>StatementFaxNo</th>
                    <th>IsPenaltyIssued</th>
                    <th>customerCategory</th>
                    <th>contact</th>
                    <th>deliveryContact</th>
                    <th>salesPrimaryContact</th>
                    <th>salesSecondaryContact</th>
                    <th>accountPrimaryContact</th>
                    <th>accountSecondaryContact</th>
                    <th>rep</th>
                    <th>centralBillingAccount</th>
                    <th>store</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="customer in customers track by customer.id">
                    <td><a ui-sref="customer.detail({id:customer.id})">{{customer.id}}</a></td>
                    <td>{{customer.code}}</td>
                    <td>{{customer.name}}</td>
                    <td>{{customer.tradingName}}</td>
                    <td>{{customer.abn}}</td>
                    <td>{{customer.deliveryInstruction}}</td>
                    <td>{{customer.webUrl}}</td>
                    <td>{{customer.isOnHold}}</td>
                    <td>{{customer.isOrderNoRequired}}</td>
                    <td>{{customer.isBlacklisted}}</td>
                    <td>{{customer.isBackorderAllowed}}</td>
                    <td>{{customer.isArchived}}</td>
                    <td>{{customer.isHeadOfficeAccount}}</td>
                    <td translate="{{'bssuiteApp.CustomerAgeingMethod.' + customer.ageingMethod}}">{{customer.ageingMethod}}</td>
                    <td>{{customer.isWebaccessAllowed}}</td>
                    <td>{{customer.bankName}}</td>
                    <td>{{customer.bsb}}</td>
                    <td>{{customer.bankAccountNo}}</td>
                    <td>{{customer.bankSuburb}}</td>
                    <td>{{customer.bankAccountName}}</td>
                    <td>{{customer.isCreditCardBillingActive}}</td>
                    <td>{{customer.creditCardNo}}</td>
                    <td>{{customer.creditCardHolderName}}</td>
                        <td>{{customer.creditCardExpiryDate | date:'mediumDate'}}</td>
                    <td translate="{{'bssuiteApp.CreditCardType.' + customer.creditCardType}}">{{customer.creditCardType}}</td>
                    <td translate="{{'bssuiteApp.CustomerAccountType.' + customer.accountType}}">{{customer.accountType}}</td>
                    <td>{{customer.creditAmount}}</td>
                    <td>{{customer.terms}}</td>
                    <td>{{customer.settlementTerms}}</td>
                    <td translate="{{'bssuiteApp.CustomerInvoiceDeliveryMethod.' + customer.invoiceDeliveryMethod}}">{{customer.invoiceDeliveryMethod}}</td>
                    <td translate="{{'bssuiteApp.CustomerStatementDeliveryMethod.' + customer.statementDeliveryMethod}}">{{customer.statementDeliveryMethod}}</td>
                    <td>{{customer.invoiceEmailAddress}}</td>
                    <td>{{customer.invoiceFaxNo}}</td>
                    <td>{{customer.statementEmailAddress}}</td>
                    <td>{{customer.statementFaxNo}}</td>
                    <td>{{customer.isPenaltyIssued}}</td>
                    <td>
                        <a ui-sref="customerCategory.detail({id:customer.customerCategoryId})">{{customer.customerCategoryId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:customer.contactId})">{{customer.contactId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:customer.deliveryContactId})">{{customer.deliveryContactId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:customer.salesPrimaryContactId})">{{customer.salesPrimaryContactId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:customer.salesSecondaryContactId})">{{customer.salesSecondaryContactId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:customer.accountPrimaryContactId})">{{customer.accountPrimaryContactId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:customer.accountSecondaryContactId})">{{customer.accountSecondaryContactId}}</a>
                    </td>
                    <td>
                        <a ui-sref="staff.detail({id:customer.repId})">{{customer.repId}}</a>
                    </td>
                    <td>
                        <a ui-sref="customer.detail({id:customer.centralBillingAccountId})">{{customer.centralBillingAccountId}}</a>
                    </td>
                    <td>
                        <a ui-sref="store.detail({id:customer.storeId})">{{customer.storeId}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="customer.detail({id:customer.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="customer.edit({id:customer.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(customer.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
