<div>
    <h2 translate="bssuiteApp.invoiceLineItem.home.title">InvoiceLineItems</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="invoiceLineItem.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="bssuiteApp.invoiceLineItem.home.createLabel">Create a new InvoiceLineItem</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a InvoiceLineItem</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteInvoiceLineItemConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(invoiceLineItem.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="bssuiteApp.invoiceLineItem.delete.question" translate-values="{id: '{{invoiceLineItem.id}}'}">Are you sure you want to delete this InvoiceLineItem?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="bssuiteApp.invoiceLineItem.description">Description</th>
                    <th translate="bssuiteApp.invoiceLineItem.cost">Cost</th>
                    <th translate="bssuiteApp.invoiceLineItem.soldFor">SoldFor</th>
                    <th translate="bssuiteApp.invoiceLineItem.qtyOrdered">QtyOrdered</th>
                    <th translate="bssuiteApp.invoiceLineItem.qtySold">QtySold</th>
                    <th translate="bssuiteApp.invoiceLineItem.qtyReturned">QtyReturned</th>
                    <th translate="bssuiteApp.invoiceLineItem.qtyPicked">QtyPicked</th>
                    <th translate="bssuiteApp.invoiceLineItem.totalTaxCharge">TotalTaxCharge</th>
                    <th translate="bssuiteApp.invoiceLineItem.discountPercentage">DiscountPercentage</th>
                    <th translate="bssuiteApp.invoiceLineItem.discountDescription">DiscountDescription</th>
                    <th translate="bssuiteApp.invoiceLineItem.discountPriceGroupCode">DiscountPriceGroupCode</th>
                    <th translate="bssuiteApp.invoiceLineItem.lineNo">LineNo</th>
                    <th translate="bssuiteApp.invoiceLineItem.listPrice">ListPrice</th>
                    <th translate="bssuiteApp.invoiceLineItem.listPriceDiscount">ListPriceDiscount</th>
                    <th translate="bssuiteApp.invoiceLineItem.cost2">Cost2</th>
                    <th translate="bssuiteApp.invoiceLineItem.isHidden">IsHidden</th>
                    <th translate="bssuiteApp.invoiceLineItem.Ref1">Ref1</th>
                    <th translate="bssuiteApp.invoiceLineItem.Ref2">Ref2</th>
                    <th translate="bssuiteApp.invoiceLineItem.invoice">invoice</th>
                    <th translate="bssuiteApp.invoiceLineItem.product">product</th>
                    <th translate="bssuiteApp.invoiceLineItem.taxRate">taxRate</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="invoiceLineItem in invoiceLineItems track by invoiceLineItem.id">
                    <td><a ui-sref="invoiceLineItem.detail({id:invoiceLineItem.id})">{{invoiceLineItem.id}}</a></td>
                    <td>{{invoiceLineItem.description}}</td>
                    <td>{{invoiceLineItem.cost}}</td>
                    <td>{{invoiceLineItem.soldFor}}</td>
                    <td>{{invoiceLineItem.qtyOrdered}}</td>
                    <td>{{invoiceLineItem.qtySold}}</td>
                    <td>{{invoiceLineItem.qtyReturned}}</td>
                    <td>{{invoiceLineItem.qtyPicked}}</td>
                    <td>{{invoiceLineItem.totalTaxCharge}}</td>
                    <td>{{invoiceLineItem.discountPercentage}}</td>
                    <td>{{invoiceLineItem.discountDescription}}</td>
                    <td>{{invoiceLineItem.discountPriceGroupCode}}</td>
                    <td>{{invoiceLineItem.lineNo}}</td>
                    <td>{{invoiceLineItem.listPrice}}</td>
                    <td>{{invoiceLineItem.listPriceDiscount}}</td>
                    <td>{{invoiceLineItem.cost2}}</td>
                    <td>{{invoiceLineItem.isHidden}}</td>
                    <td>{{invoiceLineItem.Ref1}}</td>
                    <td>{{invoiceLineItem.Ref2}}</td>
                    <td>
                        <a ui-sref="invoice.detail({id:invoiceLineItem.invoice.id})">{{invoiceLineItem.invoice.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="product.detail({id:invoiceLineItem.product.id})">{{invoiceLineItem.product.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="taxTable.detail({id:invoiceLineItem.taxRate.id})">{{invoiceLineItem.taxRate.id}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="invoiceLineItem.detail({id:invoiceLineItem.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="invoiceLineItem.edit({id:invoiceLineItem.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(invoiceLineItem.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
