<div>
    <h2>InvoiceLineItems</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="invoiceLineItem.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new InvoiceLineItem</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a InvoiceLineItem</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span>Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cost"><span>Cost</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="soldFor"><span>SoldFor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtyOrdered"><span>QtyOrdered</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtySold"><span>QtySold</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtyReturned"><span>QtyReturned</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtyPicked"><span>QtyPicked</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="totalTaxCharge"><span>TotalTaxCharge</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="discountPercentage"><span>DiscountPercentage</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="discountDescription"><span>DiscountDescription</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="discountPriceGroupCode"><span>DiscountPriceGroupCode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lineNo"><span>LineNo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="listPrice"><span>ListPrice</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="listPriceDiscount"><span>ListPriceDiscount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cost2"><span>Cost2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isHidden"><span>IsHidden</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="Ref1"><span>Ref1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="Ref2"><span>Ref2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="invoice.id"><span>invoice</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="product.id"><span>product</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="taxRate.id"><span>taxRate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="invoiceLineItem in invoiceLineItems track by invoiceLineItem.id">
                    <td><a ui-sref="invoiceLineItem.detail({id:invoiceLineItem.id})">{{invoiceLineItem.id}}</a></td>
                    <td>{{invoiceLineItem.description}}</td>
                    <td>{{invoiceLineItem.cost}}</td>
                    <td>{{invoiceLineItem.soldFor}}</td>
                    <td>{{invoiceLineItem.qtyOrdered}}</td>
                    <td>{{invoiceLineItem.qtySold}}</td>
                    <td>{{invoiceLineItem.qtyReturned}}</td>
                    <td>{{invoiceLineItem.qtyPicked}}</td>
                    <td>{{invoiceLineItem.totalTaxCharge}}</td>
                    <td>{{invoiceLineItem.discountPercentage}}</td>
                    <td>{{invoiceLineItem.discountDescription}}</td>
                    <td>{{invoiceLineItem.discountPriceGroupCode}}</td>
                    <td>{{invoiceLineItem.lineNo}}</td>
                    <td>{{invoiceLineItem.listPrice}}</td>
                    <td>{{invoiceLineItem.listPriceDiscount}}</td>
                    <td>{{invoiceLineItem.cost2}}</td>
                    <td>{{invoiceLineItem.isHidden}}</td>
                    <td>{{invoiceLineItem.Ref1}}</td>
                    <td>{{invoiceLineItem.Ref2}}</td>
                    <td>
                        <a ui-sref="invoice.detail({id:invoiceLineItem.invoice.id})">{{invoiceLineItem.invoice.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="product.detail({id:invoiceLineItem.product.id})">{{invoiceLineItem.product.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="taxTable.detail({id:invoiceLineItem.taxRate.id})">{{invoiceLineItem.taxRate.id}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="invoiceLineItem.detail({id:invoiceLineItem.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="invoiceLineItem.edit({id:invoiceLineItem.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="invoiceLineItem.delete({id:invoiceLineItem.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
