<div>
    <h2>SalesOrderLineItems</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="salesOrderLineItem.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new SalesOrderLineItem</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a SalesOrderLineItem</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteSalesOrderLineItemConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(salesOrderLineItem.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this SalesOrderLineItem?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Cost</th>
                    <th>SoldFor</th>
                    <th>QtyOrdered</th>
                    <th>QtyAllocated</th>
                    <th>TotalTaxCharge</th>
                    <th>DiscountPercentage</th>
                    <th>LineNo</th>
                    <th>RequiredDate</th>
                    <th>ListPrice</th>
                    <th>ListPriceDiscount</th>
                    <th>Cost2</th>
                    <th>IsHidden</th>
                    <th>Ref1</th>
                    <th>Ref2</th>
                    <th>salesOrder</th>
                    <th>product</th>
                    <th>taxRate</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="salesOrderLineItem in salesOrderLineItems track by salesOrderLineItem.id">
                    <td><a ui-sref="salesOrderLineItem.detail({id:salesOrderLineItem.id})">{{salesOrderLineItem.id}}</a></td>
                    <td>{{salesOrderLineItem.description}}</td>
                    <td>{{salesOrderLineItem.cost}}</td>
                    <td>{{salesOrderLineItem.soldFor}}</td>
                    <td>{{salesOrderLineItem.qtyOrdered}}</td>
                    <td>{{salesOrderLineItem.qtyAllocated}}</td>
                    <td>{{salesOrderLineItem.totalTaxCharge}}</td>
                    <td>{{salesOrderLineItem.discountPercentage}}</td>
                    <td>{{salesOrderLineItem.lineNo}}</td>
                        <td>{{salesOrderLineItem.requiredDate | date:'mediumDate'}}</td>
                    <td>{{salesOrderLineItem.listPrice}}</td>
                    <td>{{salesOrderLineItem.listPriceDiscount}}</td>
                    <td>{{salesOrderLineItem.cost2}}</td>
                    <td>{{salesOrderLineItem.isHidden}}</td>
                    <td>{{salesOrderLineItem.Ref1}}</td>
                    <td>{{salesOrderLineItem.Ref2}}</td>
                    <td>
                        <a ui-sref="salesOrder.detail({id:salesOrderLineItem.salesOrder.id})">{{salesOrderLineItem.salesOrder.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="product.detail({id:salesOrderLineItem.product.id})">{{salesOrderLineItem.product.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="taxTable.detail({id:salesOrderLineItem.taxRate.id})">{{salesOrderLineItem.taxRate.id}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="salesOrderLineItem.detail({id:salesOrderLineItem.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="salesOrderLineItem.edit({id:salesOrderLineItem.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(salesOrderLineItem.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
