<aside id="left-panel">

    <!-- User info -->
    <!--<div login-info></div>-->
    <!-- end user info -->

    <div class="login-info">
				<span> <!-- User image size is adjusted inside CSS, it should stay as it -->

					<a href="" id="show-shortcut" toggle-shortcut>
                        <img src="../../../../../assets/images/avatars/sunny.png" alt="me" class="online">
						<span>
                            User Shortcuts -----
						</span>
                        <i class="fa fa-angle-down"></i>
                    </a>

				</span>
    </div>

    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul data-smart-menu>
            <li data-ui-sref-active="active">
                <a data-ui-sref="home" title="Dashboard"><i class="fa fa-lg fa-fw fa-dashboard"></i> <span
                        class="menu-item-parent">Dashboard</span></a>
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="favourite" title="Favourites">
                    <i class="fa fa-lg fa-fw fa-star"></i> <span class="menu-item-parent">Favourites</span><span
                        unread-messages-count class="badge pull-right inbox-badge"></span></a>
            </li>
            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-bars"></i> <span class="menu-item-parent">Accounts</span></a>
                <ul>


                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.customer">Customers</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.supplier">Suppliers</a>
                    </li>



                </ul>
            </li>

            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-arrow-circle-right"></i> <span class="menu-item-parent">Sales</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.salesorder">Sales Orders</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.quotation">Quotations<span
                                class="badge inbox-badge bg-color-greenLight">v1.10</span></a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.invoice">Invoicing</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.ordercontrol">Order Control</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.returnauthority">Return Authority</a>
                    </li>
                </ul>
            </li>

            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-arrow-circle-left"></i> <span class="menu-item-parent">Purchasing</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.purchaseorder">Purchase Orders</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.stockreturn">Stock Return<span
                            class="badge inbox-badge bg-color-greenLight">v1.10</span></a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.stockreceipt">Stock Receipt</a>
                    </li>
                </ul>
            </li>

            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-life-ring"></i> <span class="menu-item-parent">Stock</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.stockcontrol">Stock Control</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.stocktransfer">Stock Transfer</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.stockreturn">Stock Return</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.stockreceipt">Stock Receipt</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.stocktake">Stocktake</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.assembly">Assemblies</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.shipment">Shipments</a>
                    </li>
                </ul>
            </li>

            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-cube"></i> <span class="menu-item-parent">Manager</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.myworkday">My Work Day</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.assetmanager">Asset Manager</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.cashmanager">Cash Manager<span
                            class="badge pull-right inbox-badge bg-color-yellow">new</span></a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.generalledger">General Ledger</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.jobcard">Job Cards</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.hiremanager">Hire Manager</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.task">Tasks</a>
                    </li>
                </ul>
            </li>

            <li data-menu-collapse>
            <a href="#"><i class="fa fa-lg fa-fw fa-file-text-o"></i> <span class="menu-item-parent">Reports</span></a>
            <ul>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="app.report.assembly">Assembly</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="app.report.cashmanager">Cash Manager</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="app.report.customer">Customer</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="app.report.distribution">Distribution</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="app.report.generalledger">General Ledger</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="app.report.overview">Overview</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="app.report.product">Products</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="app.report.sales">Sales</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="app.report.supplier">Suppliers</a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="app.report.task">Tasks</a>
                </li>
            </ul>
        </li>

            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-gear"></i> <span class="menu-item-parent">Configuration</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.config.alert">Alerts</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.config.assembly">Assembly</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.config.customer">Back Order</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.config.distribution">Cash Management</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.config.generalledger">Company</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.config.overview">Communications</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.config.product">Connectivity</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.config.sales">Stores</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.config.supplier">Discounts</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.config.task">Invoice Pricing</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.config.invoicetype">Invoice Types</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.config.invoiceoption">Invoice Options</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.config.pos">Point of Sale</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.config.purchasing">Purchasing</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.config.quotation">Quotations</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.config.salesorder">Sales Orders</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.config.security">Security</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.config.service">Service</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.config.shipping">Shipping</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.config.stock">Stock</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.config.tax">Taxes</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.config.transaction">Transactions</a>
                    </li>
                </ul>
            </li>

            <li data-menu-collapse class="top-menu-invisible">
                <a href="#"><i class="fa fa-lg fa-fw fa-wrench txt-color-blue"></i> <span class="menu-item-parent">Maintenance</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.maintenance.maintain"><i class="fa fa-stack-overflow"></i> Maintain</a>
                    </li>

                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.maintenance.backup"><i class="fa fa-download"></i> Backup</a>
                    </li>

                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.maintenance.restore"><i class="fa fa-upload"></i> Restore</a>
                    </li>

                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.maintenance.repair"><i class="fa fa-gavel"></i> Repair</a>
                    </li>

                    <li>
                        <a href="http://bootstraphunter.com/smartadmin/BUGTRACK/track_/documentation/index.html" target="_blank"><i class="fa fa-book"></i> {{getWord('Documentation')}}</a>
                    </li>
                    <li>
                        <a href="http://bootstraphunter.com/smartadmin/BUGTRACK/track_/" target="_blank"><i class="fa fa-bug"></i> {{getWord('Bug Tracker')}}</a>
                    </li>
                </ul>
            </li>



            <li data-ui-sref-active="active">
                <a data-ui-sref="app.calendar" title="Calendar"><i class="fa fa-lg fa-fw fa-calendar"><em>3</em></i> <span
                        class="menu-item-parent">{{getWord('Calendar')}}</span></a>
            </li>


            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-windows"></i> <span class="menu-item-parent">{{getWord('Miscellaneous')}}</span></a>
                <ul >
                    <li>
                        <a href="http://bootstraphunter.com/smartadmin-landing/" target="_blank">{{getWord('Landing Page')}} <i class="fa fa-external-link"></i></a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.misc.pricingTable">{{getWord('Pricing Tables')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.misc.invoice">{{getWord('Invoice')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="login">{{getWord('Login')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="register">{{getWord('Register')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="lock">{{getWord('Locked Screen')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.misc.error404">{{getWord('Error 404')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.misc.error500">{{getWord('Error 500')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.misc.blank">{{getWord('Blank Page')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.misc.emailTemplate">{{getWord('Email Template')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.misc.search">{{getWord('Search Page')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.misc.ckeditor">{{getWord('CK Editor')}}</a>
                    </li>
                </ul>
            </li>


            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-cubes"></i> <span class="menu-item-parent">System</span></a>
                <ul >
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="store_management"><i class="fa fa-institution"></i> Store Management</a>
                    </li>
                </ul>
            </li>

            <li data-menu-collapse class="chat-users top-menu-invisible">
                <a href="#"><i class="fa fa-lg fa-fw fa-comment-o"><em class="bg-color-pink flash animated">!</em></i> <span class="menu-item-parent">{{getWord('Biz Sol Suite API')}} <sup>{{getWord('beta')}}</sup></span></a>
                <div aside-chat-widget></div>
            </li>
        </ul>

        <!-- NOTE: This allows you to pull menu items from server -->
        <!-- <ul data-smart-menu-items="/api/menu-items.json"></ul> -->
    </nav>

  <span class="minifyme" data-action="minifyMenu" minify-menu>
    <i class="fa fa-arrow-circle-left hit"></i>
  </span>

</aside>
