
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myAddressLabel">Create or edit a Address</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="address.id" readonly />
        </div>
        <div class="form-group">
            <label for="field_addressLine1">AddressLine1</label>
            <input type="text" class="form-control" name="addressLine1" id="field_addressLine1"
                    ng-model="address.addressLine1"
                     />
        </div>
        <div class="form-group">
            <label for="field_addressLine2">AddressLine2</label>
            <input type="text" class="form-control" name="addressLine2" id="field_addressLine2"
                    ng-model="address.addressLine2"
                     />
        </div>
        <div class="form-group">
            <label for="field_suburb">Suburb</label>
            <input type="text" class="form-control" name="suburb" id="field_suburb"
                    ng-model="address.suburb"
                     />
        </div>
        <div class="form-group">
            <label for="field_state">State</label>
            <input type="text" class="form-control" name="state" id="field_state"
                    ng-model="address.state"
                     />
        </div>
        <div class="form-group">
            <label for="field_postcode">Postcode</label>
            <input type="text" class="form-control" name="postcode" id="field_postcode"
                    ng-model="address.postcode"
                     />
        </div>
        <div class="form-group">
            <label for="field_country">Country</label>
            <input type="text" class="form-control" name="country" id="field_country"
                    ng-model="address.country"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
