<div>
    <h2>Addresss</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="address.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Address</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Address</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="addressLine1"><span>AddressLine1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="addressLine2"><span>AddressLine2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="suburb"><span>Suburb</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="state"><span>State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="postcode"><span>Postcode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="country"><span>Country</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="address in addresss track by address.id">
                    <td><a ui-sref="address.detail({id:address.id})">{{address.id}}</a></td>
                    <td>{{address.addressLine1}}</td>
                    <td>{{address.addressLine2}}</td>
                    <td>{{address.suburb}}</td>
                    <td>{{address.state}}</td>
                    <td>{{address.postcode}}</td>
                    <td>{{address.country}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="address.detail({id:address.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="address.edit({id:address.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="address.delete({id:address.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
