<div>
    <h2>TaxTables</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="taxTable.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new TaxTable</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a TaxTable</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="code"><span>Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="formula"><span>Formula</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isAddedToTotal"><span>IsAddedToTotal</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isSubtractedFromTotal"><span>IsSubtractedFromTotal</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isExcludedOnReporting"><span>IsExcludedOnReporting</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="taxGroup"><span>TaxGroup</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="taxBase"><span>TaxBase</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="taxTable in taxTables track by taxTable.id">
                    <td><a ui-sref="taxTable.detail({id:taxTable.id})">{{taxTable.id}}</a></td>
                    <td>{{taxTable.code}}</td>
                    <td>{{taxTable.name}}</td>
                    <td>{{taxTable.formula}}</td>
                    <td>{{taxTable.isAddedToTotal}}</td>
                    <td>{{taxTable.isSubtractedFromTotal}}</td>
                    <td>{{taxTable.isExcludedOnReporting}}</td>
                    <td>{{taxTable.taxGroup}}</td>
                    <td>{{taxTable.taxBase}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="taxTable.detail({id:taxTable.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="taxTable.edit({id:taxTable.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="taxTable.delete({id:taxTable.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <uib-pager total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pager>
</div>
