<div>
    <h2>TaxTables</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="taxTable.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new TaxTable</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a TaxTable</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Formula</th>
                    <th>IsAddedToTotal</th>
                    <th>IsSubtractedFromTotal</th>
                    <th>IsExcludedOnReporting</th>
                    <th>TaxGroup</th>
                    <th>TaxBase</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="taxTable in taxTables track by taxTable.id">
                    <td><a ui-sref="taxTable.detail({id:taxTable.id})">{{taxTable.id}}</a></td>
                    <td>{{taxTable.code}}</td>
                    <td>{{taxTable.name}}</td>
                    <td>{{taxTable.formula}}</td>
                    <td>{{taxTable.isAddedToTotal}}</td>
                    <td>{{taxTable.isSubtractedFromTotal}}</td>
                    <td>{{taxTable.isExcludedOnReporting}}</td>
                    <td>{{taxTable.taxGroup}}</td>
                    <td>{{taxTable.taxBase}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="taxTable.detail({id:taxTable.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="taxTable.edit({id:taxTable.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="taxTable.delete({id:taxTable.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a href="#">&lt;</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
