<div>
    <h2>Contacts</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="contact.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Contact</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Contact</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fistName"><span>FistName</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastName"><span>LastName</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fullName"><span>FullName</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="emailAddress"><span>EmailAddress</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="companyName"><span>CompanyName</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phonePrimary"><span>PhonePrimary</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phoneSecondary"><span>PhoneSecondary</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fax"><span>Fax</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="position"><span>Position</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="addressId"><span>address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contact in contacts track by contact.id">
                    <td><a ui-sref="contact.detail({id:contact.id})">{{contact.id}}</a></td>
                    <td>{{contact.fistName}}</td>
                    <td>{{contact.lastName}}</td>
                    <td>{{contact.fullName}}</td>
                    <td>{{contact.emailAddress}}</td>
                    <td>{{contact.companyName}}</td>
                    <td>{{contact.phonePrimary}}</td>
                    <td>{{contact.phoneSecondary}}</td>
                    <td>{{contact.fax}}</td>
                    <td>{{contact.position}}</td>
                    <td>
                        <a ui-sref="address.detail({id:contact.addressId})">{{contact.addressId}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="contact.detail({id:contact.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="contact.edit({id:contact.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="contact.delete({id:contact.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
