<div>
    <h2 translate="bssuiteApp.quoteLineItem.home.title">QuoteLineItems</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="quoteLineItem.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="bssuiteApp.quoteLineItem.home.createLabel">Create a new QuoteLineItem</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a QuoteLineItem</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteQuoteLineItemConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(quoteLineItem.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="bssuiteApp.quoteLineItem.delete.question" translate-values="{id: '{{quoteLineItem.id}}'}">Are you sure you want to delete this QuoteLineItem?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="bssuiteApp.quoteLineItem.description">Description</th>
                    <th translate="bssuiteApp.quoteLineItem.cost">Cost</th>
                    <th translate="bssuiteApp.quoteLineItem.soldFor">SoldFor</th>
                    <th translate="bssuiteApp.quoteLineItem.qtyQuoted">QtyQuoted</th>
                    <th translate="bssuiteApp.quoteLineItem.discountPriceGroupCode">DiscountPriceGroupCode</th>
                    <th translate="bssuiteApp.quoteLineItem.totalTaxCharge">TotalTaxCharge</th>
                    <th translate="bssuiteApp.quoteLineItem.discountPercentage">DiscountPercentage</th>
                    <th translate="bssuiteApp.quoteLineItem.lineNo">LineNo</th>
                    <th translate="bssuiteApp.quoteLineItem.listPrice">ListPrice</th>
                    <th translate="bssuiteApp.quoteLineItem.listPriceDiscount">ListPriceDiscount</th>
                    <th translate="bssuiteApp.quoteLineItem.cost2">Cost2</th>
                    <th translate="bssuiteApp.quoteLineItem.isHidden">IsHidden</th>
                    <th translate="bssuiteApp.quoteLineItem.Ref1">Ref1</th>
                    <th translate="bssuiteApp.quoteLineItem.Ref2">Ref2</th>
                    <th translate="bssuiteApp.quoteLineItem.quote">quote</th>
                    <th translate="bssuiteApp.quoteLineItem.product">product</th>
                    <th translate="bssuiteApp.quoteLineItem.taxRate">taxRate</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="quoteLineItem in quoteLineItems track by quoteLineItem.id">
                    <td><a ui-sref="quoteLineItem.detail({id:quoteLineItem.id})">{{quoteLineItem.id}}</a></td>
                    <td>{{quoteLineItem.description}}</td>
                    <td>{{quoteLineItem.cost}}</td>
                    <td>{{quoteLineItem.soldFor}}</td>
                    <td>{{quoteLineItem.qtyQuoted}}</td>
                    <td>{{quoteLineItem.discountPriceGroupCode}}</td>
                    <td>{{quoteLineItem.totalTaxCharge}}</td>
                    <td>{{quoteLineItem.discountPercentage}}</td>
                    <td>{{quoteLineItem.lineNo}}</td>
                    <td>{{quoteLineItem.listPrice}}</td>
                    <td>{{quoteLineItem.listPriceDiscount}}</td>
                    <td>{{quoteLineItem.cost2}}</td>
                    <td>{{quoteLineItem.isHidden}}</td>
                    <td>{{quoteLineItem.Ref1}}</td>
                    <td>{{quoteLineItem.Ref2}}</td>
                    <td>
                        <a ui-sref="quote.detail({id:quoteLineItem.quote.id})">{{quoteLineItem.quote.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="product.detail({id:quoteLineItem.product.id})">{{quoteLineItem.product.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="taxTable.detail({id:quoteLineItem.taxRate.id})">{{quoteLineItem.taxRate.id}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="quoteLineItem.detail({id:quoteLineItem.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="quoteLineItem.edit({id:quoteLineItem.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(quoteLineItem.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
