<div>
    <h2>QuoteLineItems</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="quoteLineItem.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new QuoteLineItem</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a QuoteLineItem</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span>Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cost"><span>Cost</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="soldFor"><span>SoldFor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qtyQuoted"><span>QtyQuoted</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="discountPriceGroupCode"><span>DiscountPriceGroupCode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="totalTaxCharge"><span>TotalTaxCharge</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="discountPercentage"><span>DiscountPercentage</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lineNo"><span>LineNo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="listPrice"><span>ListPrice</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="listPriceDiscount"><span>ListPriceDiscount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cost2"><span>Cost2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isHidden"><span>IsHidden</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="Ref1"><span>Ref1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="Ref2"><span>Ref2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="quote.id"><span>quote</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="product.id"><span>product</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="taxRate.id"><span>taxRate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="quoteLineItem in quoteLineItems track by quoteLineItem.id">
                    <td><a ui-sref="quoteLineItem.detail({id:quoteLineItem.id})">{{quoteLineItem.id}}</a></td>
                    <td>{{quoteLineItem.description}}</td>
                    <td>{{quoteLineItem.cost}}</td>
                    <td>{{quoteLineItem.soldFor}}</td>
                    <td>{{quoteLineItem.qtyQuoted}}</td>
                    <td>{{quoteLineItem.discountPriceGroupCode}}</td>
                    <td>{{quoteLineItem.totalTaxCharge}}</td>
                    <td>{{quoteLineItem.discountPercentage}}</td>
                    <td>{{quoteLineItem.lineNo}}</td>
                    <td>{{quoteLineItem.listPrice}}</td>
                    <td>{{quoteLineItem.listPriceDiscount}}</td>
                    <td>{{quoteLineItem.cost2}}</td>
                    <td>{{quoteLineItem.isHidden}}</td>
                    <td>{{quoteLineItem.Ref1}}</td>
                    <td>{{quoteLineItem.Ref2}}</td>
                    <td>
                        <a ui-sref="quote.detail({id:quoteLineItem.quote.id})">{{quoteLineItem.quote.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="product.detail({id:quoteLineItem.product.id})">{{quoteLineItem.product.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="taxTable.detail({id:quoteLineItem.taxRate.id})">{{quoteLineItem.taxRate.id}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="quoteLineItem.detail({id:quoteLineItem.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="quoteLineItem.edit({id:quoteLineItem.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="quoteLineItem.delete({id:quoteLineItem.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
