<div>
    <h2>Invoices</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="invoice.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Invoice</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Invoice</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="invoiceNo"><span>InvoiceNo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="invoiceTxnType"><span>InvoiceTxnType</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="txnDate"><span>TxnDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dueDate"><span>DueDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reference"><span>Reference</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ourRef"><span>OurRef</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ourRef2"><span>OurRef2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ourRef3"><span>OurRef3</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="taxExemptionCode"><span>TaxExemptionCode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isPenaltyIssued"><span>IsPenaltyIssued</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="freight"><span>Freight</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="handlingCharge"><span>HandlingCharge</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="charge2"><span>Charge2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isTaxable"><span>IsTaxable</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isLocked"><span>IsLocked</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="adjustTax"><span>AdjustTax</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="adjustTaxExempt"><span>AdjustTaxExempt</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="paymentCash"><span>PaymentCash</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="paymentCheque"><span>PaymentCheque</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="paymentCreditCard"><span>PaymentCreditCard</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="paymentDirectDeposit"><span>PaymentDirectDeposit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="paymentVoucher"><span>PaymentVoucher</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="paymentDirectDebit"><span>PaymentDirectDebit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="payment1"><span>Payment1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="payment2"><span>Payment2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bank"><span>Bank</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bankBranch"><span>BankBranch</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bankAccount"><span>BankAccount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateOfDeposit"><span>DateOfDeposit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="drawerName"><span>DrawerName</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="NoAlloc"><span>NoAlloc</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="coinRound"><span>CoinRound</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="prepayment"><span>Prepayment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="in2"><span>In2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="comment"><span>Comment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="totalTaxAmount"><span>TotalTaxAmount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="totalSellPrice"><span>TotalSellPrice</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="totalCost"><span>TotalCost</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isOnHold"><span>IsOnHold</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isLayBy"><span>IsLayBy</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isExternalTxn"><span>IsExternalTxn</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isSuspended"><span>IsSuspended</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="generatedFrom"><span>GeneratedFrom</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="customerId"><span>customer</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="billingCustomerId"><span>billingCustomer</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contactId"><span>contact</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="deliveryContactId"><span>deliveryContact</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="storeId"><span>store</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="carrierId"><span>carrier</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="salespersonId"><span>salesperson</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="promotionId"><span>promotion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdById"><span>createdBy</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="invoice in invoices track by invoice.id">
                    <td><a ui-sref="invoice.detail({id:invoice.id})">{{invoice.id}}</a></td>
                    <td>{{invoice.invoiceNo}}</td>
                    <td translate="{{'bssuiteApp.InvoiceTxnType.' + invoice.invoiceTxnType}}">{{invoice.invoiceTxnType}}</td>
                    <td>{{invoice.txnDate | date:'medium'}}</td>
                        <td>{{invoice.dueDate | date:'mediumDate'}}</td>
                    <td>{{invoice.reference}}</td>
                    <td>{{invoice.ourRef}}</td>
                    <td>{{invoice.ourRef2}}</td>
                    <td>{{invoice.ourRef3}}</td>
                    <td>{{invoice.taxExemptionCode}}</td>
                    <td>{{invoice.isPenaltyIssued}}</td>
                    <td>{{invoice.freight}}</td>
                    <td>{{invoice.handlingCharge}}</td>
                    <td>{{invoice.charge2}}</td>
                    <td>{{invoice.isTaxable}}</td>
                    <td>{{invoice.isLocked}}</td>
                    <td>{{invoice.adjustTax}}</td>
                    <td>{{invoice.adjustTaxExempt}}</td>
                    <td>{{invoice.paymentCash}}</td>
                    <td>{{invoice.paymentCheque}}</td>
                    <td>{{invoice.paymentCreditCard}}</td>
                    <td>{{invoice.paymentDirectDeposit}}</td>
                    <td>{{invoice.paymentVoucher}}</td>
                    <td>{{invoice.paymentDirectDebit}}</td>
                    <td>{{invoice.payment1}}</td>
                    <td>{{invoice.payment2}}</td>
                    <td>{{invoice.bank}}</td>
                    <td>{{invoice.bankBranch}}</td>
                    <td>{{invoice.bankAccount}}</td>
                        <td>{{invoice.dateOfDeposit | date:'mediumDate'}}</td>
                    <td>{{invoice.drawerName}}</td>
                    <td>{{invoice.NoAlloc}}</td>
                    <td>{{invoice.coinRound}}</td>
                    <td>{{invoice.prepayment}}</td>
                    <td>{{invoice.in2}}</td>
                    <td>{{invoice.comment}}</td>
                    <td>{{invoice.totalTaxAmount}}</td>
                    <td>{{invoice.totalSellPrice}}</td>
                    <td>{{invoice.totalCost}}</td>
                    <td>{{invoice.isOnHold}}</td>
                    <td>{{invoice.isLayBy}}</td>
                    <td>{{invoice.isExternalTxn}}</td>
                    <td>{{invoice.isSuspended}}</td>
                    <td translate="{{'bssuiteApp.InvoiceSource.' + invoice.generatedFrom}}">{{invoice.generatedFrom}}</td>
                    <td>
                        <a ui-sref="customer.detail({id:invoice.customerId})">{{invoice.customerId}}</a>
                    </td>
                    <td>
                        <a ui-sref="customer.detail({id:invoice.billingCustomerId})">{{invoice.billingCustomerId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:invoice.contactId})">{{invoice.contactId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:invoice.deliveryContactId})">{{invoice.deliveryContactId}}</a>
                    </td>
                    <td>
                        <a ui-sref="store.detail({id:invoice.storeId})">{{invoice.storeId}}</a>
                    </td>
                    <td>
                        <a ui-sref="carrier.detail({id:invoice.carrierId})">{{invoice.carrierId}}</a>
                    </td>
                    <td>
                        <a ui-sref="staff.detail({id:invoice.salespersonId})">{{invoice.salespersonId}}</a>
                    </td>
                    <td>
                        <a ui-sref="promotion.detail({id:invoice.promotionId})">{{invoice.promotionId}}</a>
                    </td>
                    <td>
                        <a ui-sref="staff.detail({id:invoice.createdById})">{{invoice.createdById}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="invoice.detail({id:invoice.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="invoice.edit({id:invoice.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="invoice.delete({id:invoice.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
