<div>
    <h2>Invoices</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="invoice.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Invoice</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Invoice</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteInvoiceConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(invoice.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this Invoice?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>InvoiceNo</th>
                    <th>InvoiceTxnType</th>
                    <th>TxnDate</th>
                    <th>DueDate</th>
                    <th>Reference</th>
                    <th>OurRef</th>
                    <th>OurRef2</th>
                    <th>OurRef3</th>
                    <th>TaxExemptionCode</th>
                    <th>IsPenaltyIssued</th>
                    <th>Freight</th>
                    <th>HandlingCharge</th>
                    <th>Charge2</th>
                    <th>IsTaxable</th>
                    <th>IsLocked</th>
                    <th>AdjustTax</th>
                    <th>AdjustTaxExempt</th>
                    <th>PaymentCash</th>
                    <th>PaymentCheque</th>
                    <th>PaymentCreditCard</th>
                    <th>PaymentDirectDeposit</th>
                    <th>PaymentVoucher</th>
                    <th>PaymentDirectDebit</th>
                    <th>Payment1</th>
                    <th>Payment2</th>
                    <th>Bank</th>
                    <th>BankBranch</th>
                    <th>BankAccount</th>
                    <th>DateOfDeposit</th>
                    <th>DrawerName</th>
                    <th>NoAlloc</th>
                    <th>CoinRound</th>
                    <th>Prepayment</th>
                    <th>In2</th>
                    <th>Comment</th>
                    <th>TotalTaxAmount</th>
                    <th>TotalSellPrice</th>
                    <th>TotalCost</th>
                    <th>IsOnHold</th>
                    <th>IsLayBy</th>
                    <th>IsExternalTxn</th>
                    <th>IsSuspended</th>
                    <th>GeneratedFrom</th>
                    <th>customer</th>
                    <th>billingCustomer</th>
                    <th>contact</th>
                    <th>deliveryContact</th>
                    <th>store</th>
                    <th>carrier</th>
                    <th>salesperson</th>
                    <th>promotion</th>
                    <th>createdBy</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="invoice in invoices track by invoice.id">
                    <td><a ui-sref="invoice.detail({id:invoice.id})">{{invoice.id}}</a></td>
                    <td>{{invoice.invoiceNo}}</td>
                    <td translate="{{'bssuiteApp.InvoiceTxnType.' + invoice.invoiceTxnType}}">{{invoice.invoiceTxnType}}</td>
                    <td>{{invoice.txnDate}}</td>
                    <td>{{invoice.dueDate}}</td>
                    <td>{{invoice.reference}}</td>
                    <td>{{invoice.ourRef}}</td>
                    <td>{{invoice.ourRef2}}</td>
                    <td>{{invoice.ourRef3}}</td>
                    <td>{{invoice.taxExemptionCode}}</td>
                    <td>{{invoice.isPenaltyIssued}}</td>
                    <td>{{invoice.freight}}</td>
                    <td>{{invoice.handlingCharge}}</td>
                    <td>{{invoice.charge2}}</td>
                    <td>{{invoice.isTaxable}}</td>
                    <td>{{invoice.isLocked}}</td>
                    <td>{{invoice.adjustTax}}</td>
                    <td>{{invoice.adjustTaxExempt}}</td>
                    <td>{{invoice.paymentCash}}</td>
                    <td>{{invoice.paymentCheque}}</td>
                    <td>{{invoice.paymentCreditCard}}</td>
                    <td>{{invoice.paymentDirectDeposit}}</td>
                    <td>{{invoice.paymentVoucher}}</td>
                    <td>{{invoice.paymentDirectDebit}}</td>
                    <td>{{invoice.payment1}}</td>
                    <td>{{invoice.payment2}}</td>
                    <td>{{invoice.bank}}</td>
                    <td>{{invoice.bankBranch}}</td>
                    <td>{{invoice.bankAccount}}</td>
                    <td>{{invoice.dateOfDeposit}}</td>
                    <td>{{invoice.drawerName}}</td>
                    <td>{{invoice.NoAlloc}}</td>
                    <td>{{invoice.coinRound}}</td>
                    <td>{{invoice.prepayment}}</td>
                    <td>{{invoice.in2}}</td>
                    <td>{{invoice.comment}}</td>
                    <td>{{invoice.totalTaxAmount}}</td>
                    <td>{{invoice.totalSellPrice}}</td>
                    <td>{{invoice.totalCost}}</td>
                    <td>{{invoice.isOnHold}}</td>
                    <td>{{invoice.isLayBy}}</td>
                    <td>{{invoice.isExternalTxn}}</td>
                    <td>{{invoice.isSuspended}}</td>
                    <td translate="{{'bssuiteApp.InvoiceSource.' + invoice.generatedFrom}}">{{invoice.generatedFrom}}</td>
                    <td>
                        <a ui-sref="customer.detail({id:invoice.customerId})">{{invoice.customerId}}</a>
                    </td>
                    <td>
                        <a ui-sref="customer.detail({id:invoice.billingCustomerId})">{{invoice.billingCustomerId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:invoice.contactId})">{{invoice.contactId}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact.detail({id:invoice.deliveryContactId})">{{invoice.deliveryContactId}}</a>
                    </td>
                    <td>
                        <a ui-sref="store.detail({id:invoice.storeId})">{{invoice.storeId}}</a>
                    </td>
                    <td>
                        <a ui-sref="carrier.detail({id:invoice.carrierId})">{{invoice.carrierId}}</a>
                    </td>
                    <td>
                        <a ui-sref="staff.detail({id:invoice.salespersonId})">{{invoice.salespersonId}}</a>
                    </td>
                    <td>
                        <a ui-sref="promotion.detail({id:invoice.promotionId})">{{invoice.promotionId}}</a>
                    </td>
                    <td>
                        <a ui-sref="staff.detail({id:invoice.createdById})">{{invoice.createdById}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="invoice.detail({id:invoice.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="invoice.edit({id:invoice.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(invoice.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
